<template>
    <q-card style="width: 350px;">
        <q-card-section class="row">
          <div class="text-h6">Mark Invoice</div>
          <q-space />
          <q-btn flat round dense icon="bi-x-square" v-close-popup />
        </q-card-section>

        <form @submit.prevent="submitForm">
            <q-card-section class="q-pt-none">

                <div id="action-wrapper">

                  <!--
                    Mark as: Submitted
                  -->
                  <div class="q-ml-md q-mb-sm row" v-if="objBuild.status == 'created'">
                      <q-input
                        outlined square
                        label="Submitted"
                        autofocus
                        v-model="objBuild.submitted">
                        <q-tooltip>date/time Invoice was submitted</q-tooltip>
                      </q-input>
                  </div>

                  <div class="q-ml-md q-mb-sm row" v-if="objBuild.status == 'created'">
                      <q-input
                        outlined square
                        label="Due"
                        v-model="objBuild.due">
                        <q-tooltip>date/time Invoice is due (typically net-30)</q-tooltip>
                      </q-input>
                  </div>

                  <!--
                    Mark as: Paid
                  -->
                  <div class="q-ml-md q-mb-sm row" v-if="objBuild.status == 'submitted'">
                      <q-input
                        outlined square
                        label="Paid"
                        autofocus
                        v-model="objBuild.paid">
                        <q-tooltip>date/time Invoice was Paid</q-tooltip>
                      </q-input>
                  </div>

                  <!--
                    Mark as: Deposited
                  -->
                  <div class="q-ml-md q-mb-sm row" v-if="objBuild.status == 'paid'">
                      <q-input
                        outlined square
                        label="Deposited"
                        autofocus
                        v-model="objBuild.deposited">
                        <q-tooltip>date/time Invoice was Deposited</q-tooltip>
                      </q-input>
                  </div>

                </div>

                <div>

                  <div class="q-mb-sm row" >
                    <q-list bordered separator dense>
                      <q-item clickable v-ripple>
                        <q-item-label class="q-pr-md">Name</q-item-label>
                        <q-item-section side>{{ objBuild.name }}</q-item-section>
                      </q-item>
                      <q-item clickable v-ripple>
                        <q-item-label class="q-pr-md">Client</q-item-label>
                        <q-item-section side>{{ objBuild.client_name }} ({{ objBuild.client_nickname }})</q-item-section>
                      </q-item>
                      <q-item clickable v-ripple>
                        <q-item-label class="q-pr-md">Status</q-item-label>
                        <q-item-section side>{{ objBuild.status }}</q-item-section>
                      </q-item>
                      <q-item clickable v-ripple>
                        <q-item-label class="q-pr-md">Note</q-item-label>
                        <q-item-section side>{{ objBuild.note }}</q-item-section>
                      </q-item>
                      <q-item clickable v-ripple>
                        <q-item-label class="q-pr-md">Internal</q-item-label>
                        <q-item-section side>{{ objBuild.detail }}</q-item-section>
                      </q-item>
                      <!--
                        Status Dates
                      -->
                      <q-item clickable v-ripple>
                        <q-item-label class="q-pr-md">Created</q-item-label>
                        <q-item-section side>{{ objBuild.created }}</q-item-section>
                      </q-item>
                      <q-item clickable v-ripple v-if="objBuild.status == 'submitted' || objBuild.status == 'paid' || objBuild.status == 'deposited'">
                        <q-item-label class="q-pr-md">Submitted</q-item-label>
                        <q-item-section side>{{ objBuild.submitted }}</q-item-section>
                      </q-item>
                      <q-item clickable v-ripple v-if="objBuild.status == 'submitted' || objBuild.status == 'paid' || objBuild.status == 'deposited'">
                        <q-item-label class="q-pr-md">Due</q-item-label>
                        <q-item-section side>{{ objBuild.due }}</q-item-section>
                      </q-item>
                      <q-item clickable v-ripple v-if="objBuild.status == 'paid' || objBuild.status == 'deposited'">
                        <q-item-label class="q-pr-md">Paid</q-item-label>
                        <q-item-section side>{{ objBuild.paid }}</q-item-section>
                      </q-item>

                    </q-list>
                  </div>

                </div>

            </q-card-section>

            <q-card-actions align="right">
              <q-btn label="Mark" color="primary" type="submit" />
            </q-card-actions>
        </form>
    </q-card>
</template>

<script>
    import { mapActions } from 'vuex'
    import { mapGetters } from 'vuex'
    import { date } from 'quasar'
    import _ from 'lodash'

    export default {
        data() {
            return {
                objBuild: {
                    "layout": "summary",
                    "tags": []
                },
            }
        },
        setup() {
          return {
              invoice_layouts: [
                'summary', 'detail'
              ]
          }
        },
        computed: {
            ...mapGetters('invoices', ['active_invoice']),

        },
        methods: {
            ...mapActions('invoices', ['updateInvoice']),

            submitForm() {
                //~ console.log("Form submitted with Data:", JSON.stringify(this.objBuild));
                // deep clone
                let _toSubmit = JSON.parse(JSON.stringify(this.objBuild));
                //~ console.log("Initial submitted data:", JSON.parse(JSON.stringify(_toSubmit)));
                // check for 'id', if we have it this is an update!
                if ( Object.hasOwn(this.objBuild, '_id') || Object.hasOwn(this.objBuild, 'id_') ) {
                    //~ console.log("Action=Update");
                    // NOTE: cruft (nulls) are removed in updateRegistration
                    //~ console.log("Submitting updateInvoice:", JSON.stringify(_toSubmit));
                    this.updateInvoice(_toSubmit)
                        .then((response) => {
                            // console.log("- Registration submitted...");
                            this.objBuild = {};
                            // fetch registrations again.
                            // NOTE: fetch is done via SSE.
                            // this.fetchRegistrations();
                            // close Add Registration form.
                            this.$emit('close')
                        })
                        .catch((error) => {
                            console.log('Error Updating Invoice', error)
                        })
                } else {
                    //~ console.log("Action=Add");
                    //~ console.log("Submitting addInvoice:", JSON.stringify(_toSubmit));
                    //~ this.addInvoice(_toSubmit)
                        //~ .then((response) => {
                            //~ // console.log("- Registration submitted...");
                            //~ this.objBuild = {};
                            //~ // fetch registrations again.
                            //~ // NOTE: fetch is done via SSE.
                            //~ // this.fetchRegistrations();
                            //~ // close Add Registration form.
                            //~ this.$emit('close')
                        //~ })
                        //~ .catch((error) => {
                            //~ console.log('Error Adding Registration', error)
                        //~ })
                }
            },
            setModel() {
              console.log("Set model was called...");
            },
        },
        created () {
          // CAREFUL; this is called each time you hit the 'page'
          if ( Object.keys(this.active_invoice).length > 0 ) {
              //~ console.log("active_invoice has data, using it...");
              // create a clone of activity to work on (deep clone)
              this.objBuild = JSON.parse(JSON.stringify(this.active_invoice));
              //console.log("objBuild is:", this.objBuild);
          }
        },
    }
</script>
