<template>
    <q-card style="width: 65%">
        <q-card-section class="row">
          <div class="text-h6">Invoice</div>
          <q-space />
          <q-btn flat round dense icon="bi-x-square" v-close-popup />
        </q-card-section>

        <form @submit.prevent="submitForm">
            <q-card-section class="q-pt-none">
                <div class="q-mb-sm row">
                    <div class="col-6">
                        <q-input
                            required
                            v-model="objBuild.name"
                            bottom-slots
                            label="Name *"
                            class="q-ml-none">

                            <template v-slot:hint>
                              Jan, Feb, Special, etc.
                            </template>
                        </q-input>
                    </div>
                    <div class="col-6">
                        <q-select
                          label="Client *"
                          v-model="objBuild.client"
                          input-debounce="0"
                          :options="this.orderedClients"
                          @input-value="setModel"
                          clearable
                          emit-value
                          map-options
                          bottom-slots
                          class="q-ml-md text-white"
                          options-selected-class="text-blue-6"
                          input-class="text-body1">
                          <template v-slot:option="scope">
                            <q-item v-bind="scope.itemProps">
                              <q-item-section>
                                <q-item-label>{{ scope.opt.description }}</q-item-label>
                                <q-item-label caption>{{ scope.opt.label }}</q-item-label>
                              </q-item-section>
                            </q-item>
                          </template>
                          <template v-slot:no-option>
                            <q-item>
                              <q-item-section class="text-grey">
                                No results
                              </q-item-section>
                            </q-item>
                          </template>
                          <q-tooltip>
                            <div class="text-body1">Select Client</div>
                          </q-tooltip>
                          <template v-slot:hint>
                            Client the invoice applies to
                          </template>
                        </q-select>
                    </div>
                </div>

                <div class="q-mb-sm row">

                    <div class="col q-mr-md">
                        <q-select
                          label="Format *"
                          v-model="objBuild.layout"
                          input-debounce="0"
                          :options="invoice_layouts"
                          options-dense
                          class="q-ml-none" />
                    </div>

                    <div class="col q-mr-md">
                        <q-input
                          label="Discount"
                          v-model="objBuild.discount"
                          mask="#.##"
                          fill-mask="0"
                          reverse-fill-mask
                          hint="Mask: #.##"
                          input-class="text-right">

                          <q-tooltip>Total amount to apply to the Invoice<br/><span class="text-italic text-weight-thin">Amount will be deducted from subtotal</span></q-tooltip>
                        </q-input>
                    </div>

                    <div class="col q-mr-md">
                        <q-input
                          label="Paid"
                          v-model="objBuild.paid_amount"
                          mask="#.##"
                          fill-mask="0"
                          reverse-fill-mask
                          hint="Mask: #.##"
                          input-class="text-right">

                          <q-tooltip>Total amount already paid on invoice<br/><span class="text-italic text-weight-thin">Amount will be deducted from Total (after discount)</span></q-tooltip>
                        </q-input>
                    </div>

                </div>

                <div class="q-mb-sm">
                    <q-input
                      label="Note"
                      autogrow
                      v-model="objBuild.note" />
                </div>

                <div class="q-mb-sm">

                    <q-select
                        label="Tags"
                        use-input
                        use-chips
                        multiple
                        hide-dropdown-icon
                        input-debounce="0"
                        new-value-mode="add-unique"
                        v-model="objBuild.tags"
                        hint="Use Enter after each tag"
                        style="width: 99%;"
                        class="q-mb-xs q-mr-xs"
                      >
                        <q-tooltip>Tags for Registration</q-tooltip>
                    </q-select>

                </div>

                <div class="q-mb-sm">
                    <q-input
                      bg-color="orange-1"
                      label-color="orange-9"
                      label="Detail"
                      autogrow
                      outlined
                      bottom-slots
                      v-model="objBuild.detail">

                        <template v-slot:hint>
                          Additional details of the invoice.
                          <span class="text-italic">
                            (for internal use)
                          </span>
                        </template>
                      </q-input>
                </div>

            </q-card-section>

            <q-card-actions align="right">
              <q-btn label="Submit" color="primary" type="submit" />
            </q-card-actions>
        </form>
    </q-card>
</template>

<script>
    import { mapActions } from 'vuex'
    import { mapGetters } from 'vuex'
    import { date } from 'quasar'
    import _ from 'lodash'

    export default {
        data() {
            return {
                objBuild: {
                    "layout": "summary",
                    "tags": []
                },
            }
        },
        setup() {
          return {
              invoice_layouts: [
                'summary', 'detail'
              ]
          }
        },
        computed: {
            ...mapGetters('clients', ['clients']),
            ...mapGetters('invoices', ['active_invoice']),

            orderedClientsList: function () {
              return _.orderBy(this.clients, 'order', 'asc')
            },
            orderedClients: function () {
                let clients = this.orderedClientsList.map(function(o) { return { "label": o.nickname, "value": o.id_, "description": o.name }});
                return clients;
            },
        },
        methods: {
            ...mapActions('tasks', ['addTask']),
            ...mapActions('invoices', ['addInvoice', 'updateInvoice']),

            /*
             * NOTICE submitForm handles both Add and Update!
             */
            submitForm() {
                //~ console.log("Form submitted with Data:", JSON.stringify(this.objBuild));
                // deep clone
                let _toSubmit = JSON.parse(JSON.stringify(this.objBuild));
                //~ console.log("Initial submitted data:", JSON.parse(JSON.stringify(_toSubmit)));
                // check for 'id', if we have it this is an update!
                if ( Object.hasOwn(this.objBuild, '_id') || Object.hasOwn(this.objBuild, 'id_') ) {
                    //~ console.log("Action=Update");
                    // NOTE: cruft (nulls) are removed in updateRegistration
                    //~ console.log("Submitting updateInvoice:", JSON.stringify(_toSubmit));
                    this.updateInvoice(_toSubmit)
                        .then((response) => {
                            // console.log("- Registration submitted...");
                            this.objBuild = {};
                            // fetch registrations again.
                            // NOTE: fetch is done via SSE.
                            // this.fetchRegistrations();
                            // close Add Registration form.
                            this.$emit('close')
                        })
                        .catch((error) => {
                            console.log('Error Updating Invoice', error)
                        })
                } else {
                    //~ console.log("Action=Add");
                    //~ console.log("Submitting addInvoice:", JSON.stringify(_toSubmit));
                    this.addInvoice(_toSubmit)
                        .then((response) => {
                            // console.log("- Registration submitted...");
                            this.objBuild = {};
                            // fetch registrations again.
                            // NOTE: fetch is done via SSE.
                            // this.fetchRegistrations();
                            // close Add Registration form.
                            this.$emit('close')
                        })
                        .catch((error) => {
                            console.log('Error Adding Invoice', error)
                        })
                }
            },
            setModel() {
              console.log("Set model was called...");
            },
        },
        created () {
          // CAREFUL; this is called each time you hit the 'page'
          if ( Object.keys(this.active_invoice).length > 0 ) {
              //~ console.log("active_invoice has data, using it...");
              // create a clone of activity to work on (deep clone)
              this.objBuild = JSON.parse(JSON.stringify(this.active_invoice));
              // console.log("objBuild is:", this.objBuild);
          }
        },
    }
</script>
