/*
 * ticketing details
 */

.creator-table {
    width: 100%;
}

.project-table {
    width: 100%;
    border: 0px;
}

.contents-table {
    width: 100%;
    border-radius: 6px;
    padding-left: 7px;
    padding-right: 7px;
    border-top: 1px solid #E6E6FA;
    border-bottom: 1px solid #E6E6FA;
}

.comments-table {
    width: 100%;
}

.comments-row:nth-child(odd) {
    background-color: #E6E6FA;
}

.tags-section {
    width: 100%;
    text-align: right;
    padding-top: 13px;
}

.actor-head {
    font-weight: bold;
    width: 13px;
    padding-left: 8px;
    vertical-align: baseline;
}

.actor-data {
    padding-left: 5px;
    vertical-align: baseline;
}

.actor-top-data {
    padding-right: 5px;
    vertical-align: top;
}

.full-width {
    width: 100%;
}

.no-wrap {
    white-space: nowrap;
}

.tag-button {
    background-color: #E5E5E5;
    border-radius: 4px;
    padding: 7px 7px 7px 7px;
    box-shadow: 3px 4px #888888;
}
