<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />

{% block body %}

<div id="loginbox">
  <div class="login-header"> {{ about["name"].capitalize() }} Login</div>
  <div>
    {% if get_flashed_messages() %}
    <div class="flashes">{{ get_flashed_messages() }}</div>
    {% endif %}
    {% if form.errors %}
    <div class="flashes">{{ form.errors }}</div>
    {% endif %}
    <form method="POST">
        <div class="form-group">
            <label>Username</label>
            {{ form.username() }}
        </div>
        <div class="form-group">
            <label>Password</label>
            {{ form.password() }}
        </div>
        <div class="actions">
          <input id="submit" name="submit" type="submit" value="Login" title="auth server: {{ ldap_url }}">
          {{ form.hidden_tag() }}
        </div>
    </form>
  </div>
</div>

{% endblock %}
