<template>
  <q-layout view="hHh lpR fFf">

    <q-header reveal elevated class="bg-primary text-white print-hide">
      <q-toolbar>
        <q-space />
        <q-toolbar-title class="site-title text-center">
<!--
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
          </q-avatar>
-->
          Invoice Viewer
        </q-toolbar-title>
        <q-space />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { ref } from 'vue'

export default {
  // name: 'LayoutName',

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
}
</script>

<style lang="sass">
.my-card
  background-color: $primary

  .header-image
    height: 100%
    z-index: -1
    opacity: 0.4
    filter: grayscale(100%)
  .my-menu-link
    color: white
    background: #F2C037
  .mini-slot
    transition: background-color .28s
    &:hover
      background-color: rgba(0, 0, 0, .04)

  .mini-icon
    font-size: 2em

    & + &
      margin-top: 18px
.site-title
  font-family: 'Helvetica'
  font-weight: 950

</style>
