<template>
  <q-layout view="hHh lpR lFf">
    <q-header class="bg-white text-primary" height-hint="98">
      <q-toolbar>
        <q-space />
        <q-toolbar-title class="site-title q-pl-lg">
          RADIANT
        </q-toolbar-title>

        <div class="q-gutter-md q-ml-none">
          <q-btn flat round dense icon="bi-question-circle" size="md" to="/help">
            <q-tooltip>Help</q-tooltip>
          </q-btn>
          <q-btn flat round dense icon="bi-info-circle" size="md" class="q-ml-none q-mr-none" @click="alert = true">
            <q-tooltip>About</q-tooltip>
          </q-btn>

          <q-dialog v-model="alert" position="top">
            <q-card class="bg-white text-primary" style="width: 300px">
              <q-card-section class="row items-center q-pb-none">
                <div class="text-h6">About</div>
                <q-space />
                <q-btn icon="bi-x-square" flat round dense v-close-popup />
              </q-card-section>

              <q-card-section>

                <q-list class="text-primary" bordered separator>

                  <q-item clickable v-ripple>
                    <q-item-section>
                      <q-item-label overline>Version</q-item-label>
                      <q-item-label>{{ this.ui.version }}</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section>
                      <q-item-label overline>Released</q-item-label>
                      <q-item-label>{{ this.ui.released }}</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section>
                      <q-item-label overline>Created</q-item-label>
                      <q-item-label>{{ this.ui.created }}</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section>
                      <q-item-label overline>Authors</q-item-label>
                      <q-item-label>{{ this.ui.authors }}</q-item-label>
                    </q-item-section>
                  </q-item>

                </q-list>

              </q-card-section>

              <q-card-section>
                <div class="row flex-center">
                  © {{ currentYear }}&nbsp;<a class="text-bold text-grey-5" style="text-decoration: none;" href="https://runrader.com">runrader.com</a>
                </div>
                <div class="row flex-center text-italic">
                  All rights reserved
                </div>
              </q-card-section>

            </q-card>
          </q-dialog>

          <UserMessage />

          <q-btn flat dense :icon="userMenuIcon" color="white" size="26px" class="q-pt-xs q-pr-sm q-pl-none" aria-label="User Menu" v-if="this.user.username">
<!--
            <q-badge :color="my_bling.color" rounded floating>
              <q-icon :name="my_bling.badge" :color="my_bling.textcolor" />
              <q-tooltip :offset="[10, 40]">
                {{ my_current_rank }}&nbsp;place
              </q-tooltip>
            </q-badge>
-->
            <q-menu v-if="this.user.username">
              <div class="row no-wrap q-pa-md">
                <div class="column" style="width: 400px;">
                  <div class="text-h6 q-mb-md">Settings</div>
                  <q-space />
                  <q-toggle v-model="rightDrawer" label="right drawer expand" v-on:click="updateUserPref('right_drawer_expanded', this.user.preferences.right_drawer_expanded, true)" v-if="false">
                    <q-tooltip>expand the right drawer by default</q-tooltip>
                  </q-toggle>

                  <div class="q-gutter-md row">
                    <q-select
                      filled
                      label="Timezone"
                      v-model="user_timezone"
                      use-input
                      hide-selected
                      fill-input
                      input-debounce="0"
                      :options="options"
                      @update:model-value="updateUserTimezone"
                      @filter="filterFn"
                      style="width: 100%; padding-bottom: 32px"
                    >
                      <template v-slot:no-option>
                        <q-item>
                          <q-item-section class="text-grey">
                            No results
                          </q-item-section>
                        </q-item>
                      </template>
                      <q-tooltip>
                        Select your timezone - this is used to show dates in the selected timezone<br/>
                        rather than the internally stored UTC timezone
                      </q-tooltip>
                    </q-select>

                  </div>

                  <div class="q-gutter-md row">
                   <q-input
                    filled autogrow
                    debounce="2400"
                    v-model="avatar"
                    label="Avatar"
                    @update:model-value="updateAvatar"
                    style="width: 100%; padding-bottom: 32px" />

                    <q-tooltip>Enter the URL to the Avatar you would like to use</q-tooltip>
                  </div>

<!--
                  <div class="row justify-left">

                    <q-btn flat dense icon="bi-info-circle" @click="alert = true">
                      <q-tooltip>About</q-tooltip>
                    </q-btn>

                    <q-btn flat dense icon="bi-question-circle" to="/help">
                      <q-tooltip>Help</q-tooltip>
                    </q-btn>
                  </div>
-->



                </div>

                <q-separator vertical inset class="q-mx-lg" />

                <div class="column items-center">
                  <q-avatar size="92px">
                    <img v-bind:src="this.user.avatar" v-if="this.user.avatar" />
                    <img src="person-creepy.svg" v-if="!this.user.avatar" />
                  </q-avatar>

                  <div class="text-body1 q-mt-sm q-mb-none">
                    {{ this.user.display_name }}
                    <q-tooltip anchor="top middle" self="bottom middle" html content-class="bg-accent" :offset="[-10, -10]" style="width: 200px;">
                      {{ this.user.first_name }} {{ this.user.last_name }}
                      <br/>
                      {{ this.user.email }}
                      <br/>
                      Roles: {{ this.user.roles.join(", ") }}
                    </q-tooltip>
                  </div>
                  <!--
                  <div class="text-body1 q-mt-none q-mb-none">
                    {{ this.user.active_account_role }}
                    <q-tooltip anchor="top middle" self="bottom middle" html content-class="bg-accent" :offset="[-10, -10]">
                      account: {{ this.user.active_account_name }}
                      <br />

                    </q-tooltip>
                  </div>
                  -->

                  <q-space />

                  <q-btn glossy size="md" color="primary" label="logout" v-close-popup @click="logout">
                    <q-tooltip>Logout</q-tooltip>
                  </q-btn>
                </div>
              </div>
            </q-menu>
            <q-menu v-if="!this.user.username">
              <div class="row no-wrap q-pa-md">
                <div class="column">
                  <div class="text-h6 q-mb-md">Settings</div>
                  <div class="text-body1">Sign in for settings</div>
                </div>

                <q-separator vertical inset class="q-mx-lg" />

                <div class="column items-center">
                  <q-avatar size="72px">
                    <q-icon name="account_circle" style="font-size: 72px" />
                  </q-avatar>

                  <div class="text-subtitle1 q-mt-md q-mb-xs">username</div>
                  <div class="text-subtitle1 q-mt-xs q-mb-xs">
                    user role
                  </div>

                </div>
              </div>
            </q-menu>
          </q-btn>

          <q-btn flat round ripple icon="bi-box-arrow-in-right" color="primary" size="18px" padding="xs" aria-label="Sign In" v-close-popup @click="login" v-if="!this.user.username">
            <q-tooltip content-class="bg-accent" class="text-body1 bg-secondary">Log In</q-tooltip>
          </q-btn>
        </div>

      </q-toolbar>

      <!-- Right Drawer -->
      <q-drawer
        v-model="rightDrawer"
        show-if-above
        side="right"
        persistent
        bordered
        :width="200"
        :breakpoint="500"
        class="text-primary"
        v-if="this.user.username">

          <rightDrawerComponent />

      </q-drawer>


      <q-tabs inline-label
        v-model="tab"
        active-color="primary"
        indicator-color="primary"
        switch-indicator
        dense
        shrink
        align="center"
        class="bg-white text-grey-8 q-mb-xs">

        <q-route-tab name="bi-" align="left" icon="bi-house-fill" to="/" label="" />
        <q-route-tab name="registrations" icon="bi-stopwatch" to="/registrations" label="Registrations" v-if="this.user.username">
          <q-tooltip>
            Registrations: add, edit, and delete Registrations<br/> as well as associate registration(s) to an Invoice
          </q-tooltip>
        </q-route-tab>
        <q-route-tab name="invoices" icon="bi-receipt-cutoff" to="/invoices" label="Invoices" v-if="this.user.username">
          <q-tooltip>
            Invoices: add, edit, and delete Invoices
          </q-tooltip>
        </q-route-tab>
<!--
        <q-route-tab name="tasks" icon="bi-emoji-frown" to="/tasks" label="Tasks" v-if="this.user.username">
          <q-tooltip>Earn points!</q-tooltip>
        </q-route-tab>
        <q-route-tab name="rewards" icon="bi-coin" to="/rewards" label="Rewards" v-if="this.user.username">
          <q-tooltip>Use Points<br/>Redeem points for anything listed here</q-tooltip>
        </q-route-tab>
        <q-route-tab name="ledger" icon="bi-coin" to="/points" label="Ledger" v-if="this.user.username" :alert="rewardsTabAlert">
          <q-tooltip>View your Points and Rewards history</q-tooltip>
        </q-route-tab>
-->
        <q-btn dense flat color="white" text-color="primary" icon="bi-menu-button-wide" size="md" @click="rightDrawer = !rightDrawer" class="absolute-right q-pr-sm" v-if="this.user.username" />

      </q-tabs>

    </q-header>

    <div>

      <div>
      <q-page-container>

        <router-view />

      </q-page-container>
      </div>
    </div>

    <q-footer reveal class="bg-white text-primary">
      <q-toolbar style="min-height: 33px;">
        <q-toolbar-title>
          <div class="absolute-center text-body1">© 2025 dradux.com. All rights reserved.</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
  import { ref, computed } from 'vue'
  import { mapActions, mapGetters } from 'vuex'
  import _ from 'lodash'
  import { Loading, LocalStorage, date, QSpinnerFacebook } from 'quasar'
  import VueSSE from 'vue-sse';
  import { api } from 'boot/axios'
  import { timezones } from 'assets/js/timezones'

  export default {
    name: 'MyLayout',
    data () {
      return {
        // NOTE: set *Drawer to true to start visible, false to start hidden.
        miniState: true,
        loading: false,
      }
    },
    setup () {
      const options = ref(timezones)

      return {
        rightDrawer: ref(false),
        tab: ref('rewards'),
        splitterModel: ref(10),
        alert: ref(false),

        model: ref(null),
        options,
        filterFn (val, update, abort) {
          update(() => {
            const needle = val.toLowerCase()
            options.value = timezones.filter(v => v.toLowerCase().indexOf(needle) > -1)
          })
        },
      }
    },
    computed: {
      ...mapGetters('user', ['user', 'user_points']),
      ...mapGetters('stashes', ['stashes', 'stashes_total']),
      ...mapGetters('sse', ['sseClient']),
      ...mapGetters('points', ['points', 'accounting', 'leaders']),
      ...mapGetters('about', ['ui']),

      rewardsTabAlert() {
        var unapproved = this.points.filter(function (el) {
          return el.status == 'created';
        });
        if (unapproved.length > 0) {
          return "primary";
        } else {
          return false;
        }
      },
      avatar () {
        //return 'https://avataaars.io/?avatarStyle=Transparent&topType=WinterHat1&accessoriesType=Blank&hatColor=Red&facialHairType=Blank&clotheType=Overall&clotheColor=Red&eyeType=Default&eyebrowType=UnibrowNatural&mouthType=ScreamOpen&skinColor=Light'
        return this.user?.avatar ? this.user.avatar : 'https://avataaars.io/?avatarStyle=Transparent&topType=WinterHat1&accessoriesType=Blank&hatColor=Red&facialHairType=Blank&clotheType=Overall&clotheColor=Red&eyeType=Default&eyebrowType=UnibrowNatural&mouthType=ScreamOpen&skinColor=Light'
      },
      user_timezone () {
        return this.user.user_timezone
      },
      orderedTasks: function () {
        return _.orderBy(this.tasks, 'created', 'desc').splice(0, 4)
      },
      orderedLeaders: function () {
        return _.orderBy(this.leaders, 'amount', 'desc')
      },
      userMenuIcon: function () {
        if (this.user.username) {
          if (this.user.avatar && this.user.avatar.length > 0) {
            return 'img:' + this.user.avatar
          } else {
            return 'img:person-creepy.svg'
          }
        } else {
          return 'img:person-generic.svg'
        }
      },
      todaysDate () {
        let timeStamp = Date.now()
        return date.formatDate(timeStamp, 'dddd D MMMM')
      },
      currentYear: function() {
        return new Date().getFullYear();
      },
    },
    components: {
      UserMessage: require('components/UserMessages/Modals/View.vue').default,
      rightDrawerComponent: require('components/Main/Drawer/RightDrawer.vue').default,
    },
    filters: {
      capitalize:  function(value)  {
        if  (!value)  {
          return  "";
        }
        value  =  value.toString();
        return  value.charAt(0).toUpperCase()  +  value.slice(1);
      },
      formatDate: function(value)  {
        if  (!value)  {
          return  "";
        }
        return date.formatDate(value, 'MMM Do')
      },
    },
    created() {
      // CAREFUL; this is called each time you hit the 'page'
    },
    mounted() {
      //~ console.log("OnMounted, this.user is", this.user);
      /*
       * NOTICE: the following logic is for 're-hydration' of user.
       */
      if ( !this.user || Object.keys(this.user).length === 0  || this.user.constructor === Object) {
        //~ console.log("User is empty...");
        // see if we have a token, if so use it to re-authenticate the user.
        if ( LocalStorage.has('radiant-ui_access-token') ) {
          Loading.show({
            spinner: QSpinnerFacebook,
            spinnerSize: 240,
            message: 'Rehydrating session data...',
            // boxClass: 'bg-grey-2 text-grey-9',
            messageColor: 'primary',
            spinnerColor: 'primary',
            backgroundColor: 'teal-10'
          })
          let access_token = LocalStorage.getItem('radiant-ui_access-token')
          //~ console.log("Access Token: ", access_token);
          api.defaults.headers.common['Authorization'] = 'Bearer ' + access_token;
          // get user 'me' data and hydrate app objects.
          // NOTICE: need to account for scenario where we have a token but the token is expired
          this.fetchUser()
            .then(() => {
              //~ console.log("User Timezone: ", this.user.user_timezone);
              //~ console.log("Setup Stream (SSE)...");
              //~ this.setupStream({ notify_id: this.user.notify_id, sse: this.$sse, sseClient: this.sseClient, sseHandler: this.handleSSEMessage })
              this.setupStream({ notify_id: this.user.notify_id, sse: this.$sse, sseClient: this.sseClient })
                //~ .then(() => {
                  //~ console.log("SSE Stream Setup!");
                //~ })
            })
            .then(() => {
              //~ console.log("Load initial user data");
              //~ console.log("- get Clients...");
              this.fetchClients();
              //~ console.log("- get Invoices List...");
              this.fetchInvoicesList();
              console.log("- get Registrations...");
              this.fetchRegistrations({limit: 20});
              //~ console.log("- get Task List...");
              this.fetchTaskList();
              //~ console.log("- get User Messages...");
              this.fetchUserMessages()
                .then(() => {
                  Loading.hide()
                });
              //~ console.log("Initial user data loaded!");
            })
            .catch((error) => {
              //console.error("Error fetching user (typically caused by expired access token):", error);
              if ( error.response.status == 401 ) {
                // console.log("Looks like your auth token has expired...");
                // delete LS token.
                this.resetUser();
                // show error message.
                this.$q.notify({
                    message: "Rehydrate User Error",
                    caption: "We could not rehydrate user data from your auth token. Please try signing in again.<br/><br/>You should contact support with details of the issue if this issue persists.",
                    spinner: false,
                    icon: 'bi-exclamation-triangle-fill',
                    color: 'red',
                    html: true,
                    position: 'center',
                    multiline: true,
                    timeout: 0,
                    actions: [
                        { icon: 'bi-x-circle', color: 'white', handler: () => { /* ... */ } }
                    ]
                });
                // redirect user to login page.
                this.$router.push('/login');
              }
            })
            .finally(() => {
              // close rehydration spinner.
              Loading.hide();
            });
        } else {
          // console.log("No access token found, user will need to Authenticate...");
          this.$router.push('/login');
        }
      }   // end if user is not good
    },
    methods: {
        ...mapActions('clients', ['fetchClients']),
        ...mapActions('invoices', ['fetchInvoicesList']),
        ...mapActions('registrations', ['fetchRegistrations']),
        ...mapActions('sse', ['setupStream']),
        ...mapActions('tasks', ['fetchTaskList']),
        ...mapActions('user', ['fetchUser', 'fetchUserPoints', 'updateUser', 'resetUser']),
        ...mapActions('user_messages', ['fetchUserMessages']),

        easterEgg(id) {
          console.log("easter egg: ", id)
        },
        login() {
          if ( JSON.stringify(this.user) === '{}' ) {
            // console.log("no user...")
          } else {
            this.resetUser()
          }
          this.$router.push({ path: '/login' })
        },
        logout() {
          Loading.show({
              message: 'Signing user out...',
              boxClass: 'bg-grey-2 text-grey-9',
              messageColor: 'primary',
              spinnerColor: 'primary'
            })
          if ( typeof this.user.username != "undefined" ) {
            //console.log("- destroy user's notify_id...");
            this.updateUser({notify_id: ''});
            this.resetUser();
          }
          //console.log("- hack reload page...");
          // NOTICE: the above logs the user out but we still need to destroy (or ensure)
          //   that the SSE channel is closed - we do a hard page reload to do this (this is
          //   primarily done for development convenience but is also good to ensure updates).
          this.$router.push({ path: '/' })
          setTimeout(function () {
            location.reload()
            Loading.hide()
          }.bind(this), 500);
        },
        rightDrawerClick (e) {
          // if in "mini" state and user clicks on drawer, switch to 'normal' mode
          if (this.miniState) {
            this.miniState = false

            // notice we have registered an event with capture flag;
            // we need to stop further propagation as this click is
            // intended for switching drawer to "normal" mode only
            e.stopPropagation()
          //~ } else {
            //~ this.miniState = true
            //~ e.stopPropagation()
          }
        },
        to_ordinal (n) {
          return["st","nd","rd"][((n+90)%100-10)%10-1]||"th"
        },
        updateUserPref(pref, value, toggle) {
          let val = value;
          if (toggle) {
            val = !value
          }
          let user_obj = {};
          user_obj.preferences = {
              [pref]: val
          }
          //~ console.log("- updating user preference: ["+pref+"] - was: ["+value+"] to: ["+!value+"]");
          this.updateUser(user_obj);
        },
        updateAvatar(value) {
          //~ console.log("Updating user Avatar to:", value);
          this.updateUser({username: this.user.username, avatar: value})
            .then(() => {
              this.$q.notify({
                  message: "Avatar Updated!",
                  caption: "Your cool new Avatar is Lit!<br/><strong>That is one handsome dude!</strong>",
                  spinner: false,
                  icon: 'bi-emoji-sunglasses',
                  color: 'positive',
                  html: true,
                  position: 'top',
                  multiline: true,
                  timeout: 5000,
                  actions: [
                      { icon: 'bi-x-square', color: 'white', handler: () => { /* ... */ } }
                  ]
              })
          })
        },
        updateUserTimezone(value) {
          //console.log("Updating user timezone to:", value);
          this.updateUser({user_timezone: value})
            .then(() => {
              this.$q.notify({
                  message: "Timezone Updated!",
                  caption: "Your timezone has been set to <strong>" + value + "</strong><br/>Hopefully that is where you are...or we are lost!",
                  spinner: false,
                  icon: 'bi-calendar2-date',
                  color: 'positive',
                  html: true,
                  position: 'top',
                  multiline: true,
                  timeout: 5000,
                  actions: [
                      { icon: 'bi-x-square', color: 'white', handler: () => { /* ... */ } }
                  ]
              })
          })
        },
    },
    watch: {},
  }
</script>


<style lang="sass">
.my-card
  background-color: $primary

  .header-image
    height: 100%
    z-index: -1
    opacity: 0.4
    filter: grayscale(100%)
  .my-menu-link
    color: white
    background: #F2C037
  .mini-slot
    transition: background-color .28s
    &:hover
      background-color: rgba(0, 0, 0, .04)

  .mini-icon
    font-size: 2em

    & + &
      margin-top: 18px
.site-title
  font-family: 'Helvetica'
  font-weight: 950

</style>
