<template>
    <q-card style="width: 45%">
        <q-card-section class="row text-primary">

          <div class="text-h5">
            <q-icon size="26px" name="bi-chat-square-dots" class="vertical-top" />
            New Message
        </div>

        </q-card-section>

        <form @submit.prevent="submitForm" style="width: 99%">

            <q-card-section class="q-pt-none">

                <!-- To User -->
                <div class="row q-mb-sm">

                  <q-select
                    autofocus
                    label="To"
                    v-model="itemToSubmit.to_user_id"
                    input-debounce="0"
                    :options="this.listUsers"
                    @input-value="setModel"
                    class="text-white"
                    style="width: 100%; padding-bottom: 32px"
                    options-selected-class="text-blue-6">
                    <template v-slot:option="scope">
                      <q-item v-bind="scope.itemProps">
                        <q-item-section avatar>
                          <q-avatar size="62px">
                            <img v-bind:src="scope.opt.icon" />
                          </q-avatar>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label>{{ scope.opt.label }}</q-item-label>
                          <q-item-label caption>{{ scope.opt.description }}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-grey">
                          No results
                        </q-item-section>
                      </q-item>
                    </template>
                    <q-tooltip>
                      <div class="text-body1">Reward to purchase</div>
                    </q-tooltip>
                  </q-select>

                </div>

                <!-- Subject -->
                <div class="row q-mb-sm">

                  <q-input required autofocus v-model="itemToSubmit.subject" label="Subject *"
                    ref="name" hint="subject of message"
                    style="width: 95%;" class="q-mb-xs q-pr-sm">
                    <q-tooltip>the subject of the message such as: Did you run today?</q-tooltip>
                  </q-input>

                </div>

                <!-- Message -->
                <div class="q-mb-sm">

                    <q-input autogrow v-model="itemToSubmit.message" label="Message *" hint="the message to send">
                        <q-tooltip>the message to send such as: Just wanted to check if you ran today???</q-tooltip>
                    </q-input>

                </div>

            </q-card-section>

            <q-card-actions align="right">

              <q-btn glossy ripple push size="md" color="primary" label="send" type="submit">
                <q-tooltip>send the message</q-tooltip>
              </q-btn>

            </q-card-actions>
        </form>
    </q-card>
</template>

<script>
    import { mapActions } from 'vuex'
    import { mapGetters } from 'vuex'
    import { mapState } from 'vuex'
    import { ref } from 'vue'
    import { date } from 'quasar'

    export default {
        name: 'AddUserMessage',
        data() {
            return {
                itemToSubmit: {"category": "user", "priority": "normal" },
            }
        },
        setup () {},
        created () {
            // CAREFUL; this is called each time you hit the 'page'
        },
        mounted () {},
        computed: {
            ...mapGetters('user', ['user', 'users']),

            orderedUsers: function () {
                return _.orderBy(this.users, 'display_name')
            },
            listUsers: function () {
                let users = this.orderedUsers.map(function(o) { return { "label": o.display_name, "value": o.username, "description": o.first_name + ' ' + o.last_name, "icon": o.avatar }});
                return users;
            }
        },
        methods: {
            ...mapActions('user_messages', ['fetchUserMessages', 'addUserMessage']),

            submitForm() {
                // note: all items set in form.
                this.itemToSubmit.from_user_id = this.user.username
                this.itemToSubmit.to_user_id = this.itemToSubmit.to_user_id.value
                this.addUserMessage(this.itemToSubmit)
                  .then((response) => {
                    this.$emit('close')
                  })
                  .catch((error) => {
                      this.$q.notify({
                          message: "Error Sending: " + error.response.data.detail,
                          color: 'negative',
                          type: 'negative',
                          html: false,
                          position: 'top',
                          progress: true,
                          timeout: 0,
                          actions: [
                              { icon: 'bi-x-square', color: 'white', handler: () => { /* ... */ } }
                          ]
                      })
                  })
            },
        }
    }
</script>
