<template>

  <q-scroll-area class="fit q-pa-sm">

    <div id="the-clock" class="text-h4 q-pa-md">
      {{ currentTime }}
    </div>

    <q-list bordered separator>
      <q-item clickable v-ripple>
        <q-item-section>
          <q-item-label>Day</q-item-label>
          <q-item-label caption>
            {{ formatSummaryLength(this.summary_day.length) }} / {{ this.summary_day.amount }}
            <q-tooltip>
              Time (HH:MM:SS) / Number of Registrations<br/>
              Raw time: {{ this.summary_day.length }} (in seconds)
            </q-tooltip>
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable v-ripple>
        <q-item-section>
          <q-item-label>Week</q-item-label>
          <q-item-label caption>
            {{ formatSummaryLength(this.summary_week.length) }} / {{ this.summary_week.amount }}
            <q-tooltip>
              Time (HH:MM:SS) / Number of Registrations<br/>
              Raw time: {{ this.summary_week.length }} (in seconds)
            </q-tooltip>
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable v-ripple>
        <q-item-section>
          <q-item-label>Month</q-item-label>
          <q-item-label caption>
            {{ formatSummaryLength(this.summary_month.length) }} / {{ this.summary_month.amount }}
            <q-tooltip>
              Time (HH:MM:SS) / Number of Registrations<br/>
              Raw time: {{ this.summary_month.length }} (in seconds)
            </q-tooltip>
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-list>


  </q-scroll-area>

</template>

<script>
  import { ref, computed } from 'vue'
  import { date } from 'quasar'
  import { mapActions, mapGetters} from 'vuex'

  const initialTime = Date.now()

  export default {
    name: 'RightDrawer',

    data() {
      return {
        currentTime: date.formatDate(initialTime, 'HH:mm:ss')
      }
    },
    computed: {
      ...mapGetters('registrations', ['time_summary_day', 'time_summary_week', 'time_summary_month']),

      summary_day () {
        return this.time_summary_day
      },
      summary_week () {
        return this.time_summary_week
      },
      summary_month () {
        return this.time_summary_month
      },

    },
    methods: {
      theClock () {
          setTimeout(() => {
            const timeStamp = Date.now()
            this.currentTime = date.formatDate(timeStamp, 'HH:mm:ss')
            this.theClock()
          }, 1000)

      },
      formatSummaryLength(secs) {
          var sec_num = parseInt(secs, 10)
          var hours   = Math.floor(sec_num / 3600)
          var minutes = Math.floor(sec_num / 60) % 60
          var seconds = sec_num % 60

          return [hours,minutes,seconds]
              .map(v => v < 10 ? "0" + v : v)
              .filter((v,i) => v !== "00" || i > 0)
              .join(":")
      }
    },
    created () {
        this.theClock()
    }
  }
</script>
