{% extends 'admin/master.html' %}
{% block body %}

    <div class="main">

        <h3>About</h3>
        <ul>
            <li>version: {{ help_about['version'] }}</li>
            <li>modified: {{ help_about['modified'] }}</li>
            <li>created: 2018-10-05</li>
            <li>source: <a href="https://gitlab.com/drad/radiant">https://gitlab.com/drad/radiant</a></li>
            <li>issues: <a href="https://gitlab.com/drad/radiant/issues">https://gitlab.com/drad/radiant/issues</a></li>
            <li>authors: drad</li>
        </ul>

        <div style="margin-top: 30px;">
            &copy; 2023 <a href="https://dradux.com/">dradux.com</a> - All Rights Reserved
        </div>

    </div>
{% endblock %}
