{% extends 'admin/master.html' %}
{% block body %}
    <div class="main">

        <h3>Help</h3>
        <p>
          This app provides numerous features, all using a minimilistic approach to application usage - just enough to get the job done and nothing more. This keeps the application and its codebase small and easy to use/maintain. It also allows us to focus on new/useful functionality over adding countless ways to do the same thing.
        </p>
        <p>
          If you find help missing or something that is not clear please check the wiki (see <a href='../help_about'>help/about</a> for location) or create a ticket if necessary.
        </p>
    </div>

{% endblock %}
