{% extends 'admin/master.html' %}
{% block body %}
    <div class="main">

        <h3>Inventory</h3>
        <p>
            <i>This component has been designed to show inline help and tips where possible.</i>
        </p>

        <p>
            The inventory component provides the ability to track inventory (computers, monitors, disks, pencils, etc.) and has the following sub-components:
            <ul>
                <li>Assets: assets are items such as Computers, hard drives, monitors which you would like to inventory/track.</li>
                <li>Setups: setups contain information about how an asset was setup - such as what OS and disk layout was used for setting up a Server.</li>
                <li>Incidents: incidents allow tracking issues with an Asset such as a Hard Drive failure.</li>
            </ul>
        </p>

        <p>
            If you have issues or questions with any of the sub-components of Inventory please see the wiki or create a ticket.
        </p>

    </div>

{% endblock %}
