{% extends 'admin/master.html' %}
{% block body %}

    <div class="main">

        <h3>
            Time (Invoicing and Registrations)
        </h3>
        <p>
            <i>This component has been designed to show inline help and tips where possible.</i>
        </p>
        <p>
          The Time component allows you to enter Clients (My Cool Client) which have Projects (Build Website, Create Mobile App). Projects have Tasks (Add User Authentication, Integrate With Invoice Provider) which have Registrations (punch in/out time). Registrations can then be grouped into an Invoice which can be sent to the Client.
        </p>

        <h4><span id="quickstart">Quick Start</span></h4>
        <ul>
            <li>Add a Client</li>
            <li>Add a Project for the Client</li>
            <li>Add a Task for the Project</li>
            <li>Add Registrations for the Task</li>
            <li>...repeat until you need to bill...</li>
            <li>Select a Set of Registrations and select 'Create Invoice'</li>
            <li>Finalize Invoice</li>
            <li>Generate PDF of Invoice and send to client</li>
            <li>Mark invoice as Submitted</li>
            <li>After you are paid, mark invoice as Paid</li>
        </ul>

        <h4><span id="create_invoice">Create Invoice</span></h4>
            Creating an invoice:

            <ul>
              <li>select the registration or set of registrations you which to add to the new Invoice</li>
              <li>select <strong>With Selected > Create Invoice</strong> from the menu</li>
              <li>the registrations will be added to a new Invoice</li>
              <li>you can use the link displayed in the flash message to go to the new Invoice to print/submit it</li>
            </ul>

        <h4><span id="add_reg_to_existing_invoice">Add Registration(s) to Existing Invoice</span></h4>
            To add registration(s) to an existing Invoice there <strong>must</strong> be one and only one Invoice with a status of 'create' - all registrations will be added to this Invoice.

            <ul>
              <li>select the registration or set of registrations you which to add to the Invoice</li>
              <li>select <strong>With Selected > Add to Invoice</strong> from the menu</li>
              <li>the registrations will be added to the Invoice that has the 'create' status</li>
            </ul>

    </div>

{% endblock %}
