{% extends 'admin/master.html' %}
{% block body %}

    <div class="main">

        <h3>Ticketing</h3>
        <p>
            <i>This component has been designed to show inline help and tips where possible.</i>
        </p>

        <p>
            The Ticketing component provides a ticketing management functionality (e.g. Customer A has an issue with Application #1).
        </p>

        <p>
            If you have issues or questions with this component please see the wiki or create a ticket.
        </p>

    </div>

{% endblock %}
