{% extends 'admin/master.html' %}
{% block body %}

    <div class="main">

        <h3>Benchmarks</h3>
        <p>
            <strong>This component has been designed to show inline help and tips where possible.</strong>
        </p>

        <p>
            Benchmarks provides a mechanism for tracking benchmarks of an application. It was designed for recording stress/load tests; however it is not limited to any specific type of test. If you find it lacks something to track a test you have please let us know and we'll add it if possible.
        </p>

        <p>
            If you have issues or questions with this component please see the wiki or create a ticket.
        </p>

        <p>
            <i><strong>Note:</strong> Benchmarks was previously known as <a href="https://gitlab.com/drad/tracker">TRacker</a></i>
        </p>

    </div>

{% endblock %}
