<template>
  <q-page class="q-pa-lg">
    <h5 class="q-mt-none">Edit Profile</h5>

    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 300px">
        <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">

          <q-input color="primary" v-model="display_name" label="Display Name">
            <template v-slot:prepend>
              <q-icon name="badge" />
            </template>
          </q-input>

          <q-input color="primary" v-model="avatar_url" label="Avatar URL">
            <template v-slot:prepend>
              <q-icon name="account_circle" />
            </template>
          </q-input>
          <div>
            <q-btn label="Submit" type="submit" color="primary"/>
          </div>
        </q-form>
      </div>
    </div>
  </q-page>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'EditProfilePage',
    data () {
      return {
        loading: false,

        display_name: "howdy",
        avatar_url: "https://hub.com",
      }
    },
    created () {},
    mounted () {},
    computed: {},
    methods: {
      ...mapActions('user', ['updateUser']),

      onSubmit () {
        //~ this.updateUser({
            //~ points_created: response.data.created,
            //~ points_approved: response.data.approved,
            //~ points_denied: response.data.denied});

          this.$q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'cloud_done',
            message: 'Submitted'
          })
        },
        onReset () {
          name.value = null
          age.value = null
          accept.value = false
        },
    },
  }
</script>
