<template>
  <q-page class="q-pa-lg">
    <h3 class="q-mt-none">
        Help
    </h3>

    <p class="text-h5 text-center">
        Radiant is ...
    </p>



  </q-page>
</template>

<script>
export default {
    name: 'HelpPage'
}
</script>
