<template>
  <q-page>

    <div class="row bg-amber-2 text-red-7 text-h6 text-bold text-uppercase justify-center items-center content-center q-pt-sm q-pb-sm print-hide">
      Status: {{ ls_invoice.status }}
    </div>

    <div id="invoice-wrapper" class="q-pa-md">

      <!-- Title Row -->
      <div class="row">
        <div class="col-6 text-h3">
          adercon
        </div>
        <div class="col-6 text-right text-h3 text-uppercase">
          invoice
        </div>
      </div>

      <!-- Address and Metadata -->
      <div class="row q-pl-lg q-pr-lg q-pt-lg">
        <div class="col-6">
          <div class="row">
            2 Wedgewood Rd
          </div>
          <div class="row">
            Natick, MA 01760
          </div>
          <div class="row">
            505-228-4752 | drader@adercon.com | adercon.com
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-2 text-bold">
              Submitted
            </div>
            <div class="col">
              {{ formatDate(ls_invoice.submitted) }}
            </div>
          </div>
          <div class="row">
            <div class="col-2 text-bold">
              Due
            </div>
            <div class="col">
              {{ formatDate(ls_invoice.due) }}
            </div>
          </div>
          <div class="row">
            <div class="col-2 text-bold">
              Invoice #
            </div>
            <div class="col">
              {{ ls_invoice.invoice_number }}
            </div>
          </div>
        </div>
      </div>

      <!-- Client -->
      <div class="row q-pl-md q-pr-md q-pt-lg">
        <div class="col-1 text-h5 text-uppercase">
          Bill To:
        </div>
        <div class="col-11 text-h5 text-uppercase">
          {{ ls_invoice.client_name }}
        </div>
      </div>

      <!-- Registrations -->
      <div class="q-pl-xs q-pr-xs q-mt-md q-pt-sm q-pb-sm shadow-14">
<!--
        <div class="row">
          <div class="col text-h6 q-pl-lg text-uppercase">
            Registrations
          </div>
        </div>
-->
        <div class="row q-pl-xs q-pr-xs">
          <div class="col text-h6 q-pb-md">
            <q-table
              flat bordered
              class="q-pb-md"
              title="REGISTRATIONS"
              :rows="orderedRegistrations"
              :columns="columns"
              :visible-columns="visibleColumns"
              :hide-pagination="true"
              :rows-per-page-options="[0]"
              row-key="start">

              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="task_name" :props="props">
                    {{ props.row.task_name }}
                  </q-td>
                  <q-td key="note" :props="props">
                    {{ props.row.note }}
                  </q-td>
                  <q-td key="start" :props="props">
                    {{ props.row.start }}
                  </q-td>
                  <q-td key="end" :props="props">
                    {{ props.row.end }}
                  </q-td>
                  <q-td key="duration" :props="props">
                    {{ formatDuration(props.row.duration) }}
                  </q-td>
                  <q-td key="ticket_number" :props="props">
                    {{ props.row.ticket_number }}
                  </q-td>
                  <q-td key="registration_type_name" :props="props">
                    {{ props.row.registration_type_name }}
                  </q-td>
                  <q-td key="rate" :props="props">
                    ${{ parseFloat(props.row.bill_rate).toFixed(2) }}
                  </q-td>
                  <q-td key="amount" :props="props">
                    ${{ calculateAmount(props.row.duration, props.row.bill_rate) }}
                  </q-td>
                </q-tr>
              </template>

              <template v-slot:bottom-row>
                <q-tr>
                  <q-td colspan="100%">

                    <div class="row shadow-1 q-pt-lg q-pl-sm q-pb-md">
                        <div class="col-10 invoice-note">
                          <div class="row text-h6 q-pa-sm">
                            Note
                          </div>
                          <div class="row q-pl-md">
                            {{ ls_invoice.note }}
                          </div>
                        </div>
                        <div class="col-2 q-pl-md">
                          <div class="row">
                            <div class="col-6 text-right q-pr-md">
                              Subtotal
                            </div>
                            <div class="col-6">
                              ${{ this.invoice_subtotal.toFixed(2) }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6 text-right q-pr-md">
                              Discount
                            </div>
                            <div class="col-6">
                              ${{ ls_invoice.discount.toFixed(2) }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6 text-right q-pr-md">
                              Total
                            </div>
                            <div class="col-6">
                              ${{ this.invoice_total.toFixed(2) }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6 text-right q-pr-md">
                              Paid
                            </div>
                            <div class="col-6">
                              ${{ ls_invoice.paid_amount.toFixed(2) }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6 text-bold text-right q-pr-md">
                              Due
                            </div>
                            <div class="col-6 text-bold">
                              ${{ this.invoice_due.toFixed(2) }}
                            </div>
                          </div>
                        </div>
                    </div>
                  </q-td>
                </q-tr>
              </template>

<!--
              Currently have no need for bottom slot
              <template v-slot:bottom>
                Bottom
              </template>
-->
              <template v-slot:top-right>
                <q-btn class="print-hide"
                  color="primary"
                  icon-right="bi-filetype-csv"
                  no-caps
                  @click="exportTable">
                  <q-tooltip>
                    Export Registrations to CSV<br/>
                    NOTE: export includes additional columns
                  </q-tooltip>
                </q-btn>
              </template>

            </q-table>
          </div>
        </div>
      </div>

      <!-- Thank You -->
      <div class="row q-pl-xs q-pr-xs q-pt-lg justify-center items-center content-center">
        <div class="col-auto text-center text-italic">
          <div class="row justify-center items-center content-center">
            Thank you for your business
          </div>
          <div class="row justify-center items-center content-center">
            Please sent payment within 30 days unless otherwise noted
          </div>
          <div class="row justify-center items-center content-center">
            Make checks payable to "Adercon Inc."
          </div>
        </div>
      </div>

    </div>

  </q-page>
</template>

<script>
  import { useRoute } from "vue-router";
  import { date, useQuasar, exportFile } from 'quasar'
  import { mapActions } from 'vuex'
  import { mapGetters } from 'vuex'
  import { ref } from 'vue'
  import _ from 'lodash'

export default {
  name: 'InvoicePage',

  data () {
    return {
      visibleColumns: ["task_name", "note", "start", "end", "duration", "rate", "amount"],
      // "ticket_number", "registration_type_name"
      /*
      ** NOTE ON csvColumns: the order must match what comes back from the API.
      */
      csvColumns: ["start", "end", "duration", "ticket_number", "note", "registration_type_name", "task_name"],
      columns: [
        //~ {name: 'task_id', label: 'Task', required: true, field: 'task_id', sortable: true, align: 'left', style: 'width: 100px'},
        {name: 'task_name', label: 'Task', required: true, field: 'task_name', sortable: true, align: 'left', style: 'width: 100px'},
        {name: 'note', label: 'Note', required: true, field: 'note', sortable: false, align: 'left', style: 'width: 100px'},
        {name: 'start', label: 'Start', required: true, field: 'start', sortable: true, align: 'left', style: 'width: 80px', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD HH:mm')},
        {name: 'end', label: 'End', required: true, field: 'end', sortable: true, align: 'left', style: 'width: 120px', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD HH:mm')},
        {name: 'duration', label: 'Duration', required: true, field: 'duration', sortable: true, align: 'left', style: 'width: 50px'},
        //~ {name: 'registration_type', label: 'Type', required: false, field: 'registration_type', sortable: true, align: 'left', style: 'width: 100px'},
        //~ {name: 'registration_type_full', label: 'Type', required: false, field: 'registration_type_full', sortable: true, align: 'left', style: 'width: 100px'},
        {name: 'ticket_number', label: 'Ticket #', required: false, field: 'ticket_number', sortable: false, style: 'width: 100px'},
        {name: 'registration_type_name', label: 'Type', required: false, field: 'registration_type_name', sortable: false, style: 'width: 100px'},
        {name: 'rate', label: 'Rate', required: true, field: 'bill_rate', sortable: true, style: 'width: 100px'},
        {name: 'amount', label: 'Amount', required: true, field: '', sortable: false, style: 'width: 100px'},
      ],
    }
  },
  setup () {
    const $q = useQuasar()
    const ls_invoice = $q.localStorage.getItem("invoice")
    //~ console.log("Got Invoice from LocalStorage:", ls_invoice);

    return {
      ls_invoice,
    }
  },
  created () {
      // CAREFUL; this is called each time you hit the 'page'
  },
  mounted () {},
  computed: {
    ...mapGetters('invoices', ['invoice']),

    params:function () {
      return this.$route.query;
    },
    orderedRegistrations: function () {
      return _.orderBy(this.ls_invoice.registrations, 'start', 'desc')
    },
    invoice_subtotal: function () {
      if ( this.orderedRegistrations.length > 0 ) {
        let total = 0;
        this.orderedRegistrations.forEach((reg) => {
          total = total + +this.calculateAmount(reg.duration, reg.bill_rate)
        })
        return total
      } else {
        return 0;
      }
    },
    invoice_total: function () {
      return +this.invoice_subtotal - +this.ls_invoice.discount;
    },
    invoice_due: function () {
      return +this.invoice_total - +this.ls_invoice.paid_amount;
    },
  },
  components: {},
  props: [],
  methods: {
    ...mapActions('invoices', ['fetchInvoice']),

    formatDate(ds) {
      return date.formatDate(ds, 'YYYY-MM-DD');
    },
    formatDuration(duration) {
      // duration is stored in seconds, we currently want to display duration in minutes
      return (+duration / 60).toFixed(2);
    },
    calculateAmount(duration, bill_rate) {
      return ( +duration * ( +bill_rate / 3600) ).toFixed(2);
    },
    formatRow(row) {
      // @TODO: need to sanitize each row
      let ret = "";
      for ( const col in row ) {
        // only include columns in csvColumns list.
        if ( this.csvColumns.indexOf(col) > -1 ) {
          console.log("col is:", col);
          if ( row[col] !== null ) {
            if ( typeof row[col] == 'number') {
              //~ console.log("col is a number...");
              // format the 'duration' (from seconds to minutes)
              if ( col == 'duration' ) {
                //~ console.log("col is a duration...");
                ret = ret + this.formatDuration(row[col]).toString() + ','
              } else {
                //~ console.log("col is not a duration...");
                ret = ret + row[col].toFixed(2).toString() + ','
              }
            } else {
              //~ console.log("col is not a number...");
              ret = ret + '"' + row[col].replaceAll(",", ",").replaceAll('"', '\'') + '",'
            }
          } else {
            // no data in column so skip it.
            //~ console.log("col value is empty...");
            ret = ret + ',';
          }
        }
      }
      return ret;
    },
    exportTable() {
        const header = this.csvColumns.join(',')
        let content = this.orderedRegistrations.map((row) => this.formatRow(row))
        let export_data = header + '\r\n' + content.join('\r\n');

        const status = exportFile(
          'registrations-export_' + this.ls_invoice.client_name + '-' + this.ls_invoice.name.toLowerCase().replaceAll(' ', '_') + '.csv',
          export_data,
          'text/csv'
        )

        if (status !== true) {
          $q.notify({
            message: 'Browser denied file download...',
            color: 'negative',
            icon: 'warning'
          })
        }
      }   // exportTable

  },
}
</script>

<style lang="sass">
  .invoice-note
    border: 1px dotted grey
    border-radius: 10px
</style>
