<template>
    <q-page class="bg-white column">
      <div class="q-pa-xs">

        <q-table flat dense
          class="my-sticky-header-table"
          :rows="orderedInvoices"
          :columns="columns"
          :loading="registrations_loading"
          row-key="id_"
          v-model:pagination="pagination"
          selection="multiple"
          v-model:selected="this.selected"
          no-data-label="No data found, try reloading!">

          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th class="row">
                <q-checkbox dense class="q-mb-xs" flat v-model="props.selected" />
                <q-btn round flat dense icon="bi-trash3" color="red" v-if="selected.length > 0" @click="deleteInvoices(selected)">
                  <q-tooltip>
                    Delete selected Registrations
                  </q-tooltip>
                </q-btn>
<!--
                <q-btn round flat dense icon="bi-receipt" color="red" v-if="selected.length > 0" @click="invoiceRegistrations(selected)">
                  <q-tooltip>
                    Invoice selected Registrations
                  </q-tooltip>
                </q-btn>
-->
              </q-th>
              <q-th>Status</q-th>
              <q-th>Date</q-th>
              <q-th>Client</q-th>
              <q-th>Name</q-th>
              <q-th>Invoice #</q-th>
              <q-th># Reg</q-th>
              <q-th>Amount</q-th>
              <q-th class="text-left">Note</q-th>
              <q-th><!-- flags column --></q-th>
            </q-tr>
          </template>

          <template v-slot:top-right>

            <!-- Filter Bar -->
            <div id="filterBar" class="row q-pa-xs bg-green-1 text-white rounded-borders justify-right" v-if="true==false">
              <div class="q-gutter-y-md row justify-right" style="max-width: 100%">

                <q-space />

                <!-- Invoiced -->
                <q-toggle
                  class="text-black q-pl-sm q-mr-md"
                  color="primary"
                  dense
                  left-label
                  v-model="filter.invoiced"
                  label="Invoiced">
                  <q-tooltip>
                    Include Registrations that have already been Invoiced
                  </q-tooltip>
                </q-toggle>

                <!-- Client -->
                <q-select
                  dense
                  label="Client"
                  v-model="filter.client"
                  input-debounce="0"
                  :options="this.orderedClients"
                  @input-value="setModel"
                  clearable
                  emit-value
                  map-options
                  class="q-mr-md text-white"
                  style="width: 133px;"
                  options-selected-class="text-blue-6"
                  input-class="text-body1">
                  <template v-slot:option="scope">
                    <q-item v-bind="scope.itemProps">
                      <q-item-section>
                        <q-item-label>{{ scope.opt.description }}</q-item-label>
                        <q-item-label caption>{{ scope.opt.label }}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </template>
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                  <q-tooltip>
                    <div class="text-body1">Select Client</div>
                  </q-tooltip>
                </q-select>

                <!-- Start -->
                <q-input flat dense ripple
                  label="Start"
                  style="width: 133px;"
                  class="q-mr-md"
                  color="primary"
                  v-model="filter.start"
                  placeholder="YYYY-MM-DD"
                  input-style=""
                  debounce="750"
                  input-class="text-body1">

                  <q-tooltip>
                    Filter by Start date<br/>
                    <strong>Note:</strong> only searching by date, not time is supported (e.g. YYYY-MM-DD).
                  </q-tooltip>

                </q-input>

                <!-- End -->
                <q-input flat dense ripple
                  label="End"
                  style="width: 133px;"
                  class="q-mr-md"
                  debounce="750"
                  color="primary"
                  v-model="filter.end"
                  input-style=""
                  placeholder="YYYY-MM-DD"
                  input-class="text-body1">

                  <q-tooltip>
                    Filter by End date
                    <strong>Note:</strong> only searching by date, not time is supported (e.g. YYYY-MM-DD).
                  </q-tooltip>

                </q-input>

                <!-- Ticket# / Note / Tag -->
                <q-input flat dense ripple
                  style="width: 133px;"
                  label="Misc"
                  debounce="750"
                  color="primary"
                  v-model="filter.general"
                  input-style=""
                  placeholder="Ticket# / Note / Tag"
                  input-class="text-body1">

                  <q-tooltip>
                    Filter by Ticket #, Note, or Tag<br/>
                    <strong>NOTE:</strong> Tag must be exact match
                  </q-tooltip>

                </q-input>

                <q-btn flat dense size="xs" color="primary" icon="bi-x-diamond" @click="resetFilter" v-if="filterHasContent(this.filter)">
                  <q-tooltip>Clear filter</q-tooltip>
                </q-btn>

                <q-space style="width: 18px;" v-if="!filterHasContent(this.filter)" />

                <q-btn flat dense size="md" color="primary" icon="bi-funnel-fill" @click="filterRegistrations">
                  <q-tooltip>Apply filter</q-tooltip>
                </q-btn>

                <!--
                <q-btn icon="bi-radioactive" color="primary" size="md" @click="loadClients" />
                -->

              </div>

            </div>

            <!-- Add Item -->
            <q-btn flat dense size="md" color="positive" icon="bi-plus-square" class="q-ml-sm" @click="triggerAddInvoice()">
              <q-tooltip>
                <div class="text-body1">Add an Invoice...</div>
              </q-tooltip>
            </q-btn>

            <!-- Refresh Registrations -->
            <q-btn flat dense size="sm" color="positive" icon="bi-arrow-repeat" @click="forceFetchInvoices()">
              <q-tooltip>
                <div class="text-body1">Refresh</div>
              </q-tooltip>
            </q-btn>

          </template>

          <template v-slot:body-selection="scope">
            <q-toggle v-model="scope.selected" />
          </template>

          <template v-slot:body="props">
            <q-tr :props="props" :class="(props.row.invoice)? 'bg-red-2':''">
              <q-td auto-width>

                <q-checkbox dense v-model="props.selected" class="q-pr-sm" />

                <!-- delete -->
                <q-btn flat dense round padding="xs" size="sm" color="red" icon="bi-trash3" class="q-mr-md" @click="promptToDelete(props.row.id_)" v-if="userIsAdmin">
                  <q-tooltip>
                    <div class="text-body1">delete</div>
                  </q-tooltip>
                </q-btn>

                <!-- edit -->
                <q-btn flat dense round padding="xs" size="md" color="green-6" icon="bi-pencil-square" @click="triggerUpdate(props.row)" v-if="userIsAdmin">
                  <q-tooltip>
                    <div class="text-body1">edit</div>
                  </q-tooltip>
                </q-btn>

                <!-- Mark Submitted -->
                <q-btn flat dense round padding="xs" size="md" color="green-6" icon="bi-send-fill" @click="markSubmitted(props.row)" v-if="props.row.status == 'created'">
                  <q-tooltip>
                    <div class="text-body1">Mark as submitted</div>
                  </q-tooltip>
                </q-btn>

                <!-- Mark Paid -->
                <q-btn flat dense round padding="xs" size="md" icon="bi-check2-circle" color="green-6" @click="markPaid(props.row)" v-if="props.row.status == 'due' || props.row.status == 'submitted'">
                  <q-tooltip>
                    <div class="text-body1">Mark as paid</div>
                  </q-tooltip>
                </q-btn>

                <!-- Mark Deposited -->
                <q-btn flat dense round padding="xs" size="md" icon="bi-check2-all" color="green-6" @click="markDeposited(props.row)" v-if="props.row.status == 'paid'">
                  <q-tooltip>
                    <div class="text-body1">Mark as deposited</div>
                  </q-tooltip>
                </q-btn>

                <!-- Invoice Viewer -->
<!--
                <q-btn flat dense round padding="xs" size="md" color="green-6" icon="bi-receipt-cutoff" @click="triggerInvoiceViewer(props.row.id_)" v-if="userIsAdmin && props.row.status != 'created'">
-->
                <q-btn flat dense round padding="xs" size="md" color="green-6" icon="bi-receipt-cutoff" @click="triggerInvoiceViewer(props.row.id_)" v-if="userIsAdmin">
                  <q-tooltip>
                    <div class="text-body1">View Invoice...</div>
                  </q-tooltip>
                </q-btn>

              </q-td>

              <q-td style="width: 100px;">
                  {{ props.row.status }}
              </q-td>

              <q-td style="width: 100px;">
                  {{ getStatusDate(props.row) }}
                  <q-tooltip max-width="230px">
                    <!--
                    NOTICE: we have to use the max-width above to get this to line wrap as for
                    some reason q-tooltip will not honor <br /> if it is from a function
                    -->
                    {{ getAllStatusDates(props.row) }}
                  </q-tooltip>
              </q-td>
              <q-td class="text-center" style="width: 70px;">
                  {{ props.row.client_nickname }}
              </q-td>
              <q-td class="text-center" style="width: 133px;">
                  {{ props.row.name }}
              </q-td>
              <q-td class="text-center" auto-width>
                  {{ props.row.invoice_number }}
              </q-td>
              <q-td class="text-center" auto-width>
                  {{ props.row.number_registrations }}
              </q-td>
              <q-td class="text-center" auto-width>
                  {{ formatCurrency(props.row.amount) }}
              </q-td>
              <q-td>
                  <!-- Note -->
                  {{ trimNote(props.row.note) }}
                  <q-tooltip>
                    {{ props.row.note }}
                  </q-tooltip>
              </q-td>

              <q-td auto-width>
                <!-- Flags -->

                <!-- Tags -->
                <q-btn dense round flat color="white" text-color="primary" icon="bi-tags" v-if="props.row.tags">
                  <q-badge transparent color="primary" floating>{{ tagsLength(props.row.tags) }}</q-badge>
                  <q-tooltip anchor="top left" self="center left">
                      {{ tagsToString(props.row.tags) }}
                  </q-tooltip>
                </q-btn>

              </q-td>
            </q-tr>

          </template>
        </q-table>

        <q-dialog v-model="showAddInvoice" persistent>
          <add-invoice @close="showAddInvoice = false" />
        </q-dialog>
        <q-dialog v-model="showMarkInvoice">
          <mark-invoice @close="showMarkInvoice = false" />
        </q-dialog>


      </div>
    </q-page>
</template>

<script>
  import { date, useQuasar } from 'quasar'
  import { mapActions } from 'vuex'
  import { mapGetters } from 'vuex'
  import { ref } from 'vue'
  import _ from 'lodash'

  import { LocalStorage } from 'quasar'

  const { addToDate } = date


export default {
  name: 'InvoicesPage',

    data () {
    return {
      loading: false,
      showAddInvoice: false,
      showMarkInvoice: false,
      showInvoiceRegistrations: false,
      filter: {
        "client": null,   // WWN: "1cd58e3a-91df-4894-9bd0-3dbd735e03e4"
        "end": null,
        "general": null,
        "invoiced": false,
        "start": null,
      },
      pagination: {
        sortBy: 'start',
        descending: true,
        page: 1,
        rowsPerPage: 10,
        rowsNumber: 0,
      },
      //visibleColumns: ["start", "end", "duration", "task", "task_label", "ticket_number"],
      columns: [
        {name: 'start', label: 'Start', required: true, field: 'start', sortable: true, align: 'left', style: 'width: 80px', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD HH:mm')},
        {name: 'end', label: 'End', required: true, field: 'end', sortable: true, align: 'left', style: 'width: 120px', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD HH:mm')},
        {name: 'duration', label: 'Duration', required: true, field: 'duration', sortable: true, align: 'left', style: 'width: 50px'},
        {name: 'duration_humanized', label: 'Duration', required: true, field: 'duration_humized', sortable: true, align: 'left', style: 'width: 50px'},
        {name: 'task', label: 'Task', required: true, field: 'task', sortable: true, align: 'left', style: 'width: 100px'},
        {name: 'task_label', label: 'Task', required: true, field: 'task_label', sortable: true, align: 'left', style: 'width: 100px'},
        {name: 'registration_type', label: 'Type', required: false, field: 'registration_type', sortable: true, align: 'left', style: 'width: 100px'},
        {name: 'registration_type_full', label: 'Type', required: false, field: 'registration_type_full', sortable: true, align: 'left', style: 'width: 100px'},
        {name: 'ticket_number', label: 'Ticket Number', required: true, field: 'ticket_number', sortable: true, style: 'width: 100px'},
        {name: 'invoiced', label: 'Invoiced', required: false, field: 'invoiced', sortable: true, align: 'left', style: 'width: 25px'},
      ],
    }
  },
  setup() {
    const selected = ref([])
    //~ const pagination = ref({
      //~ sortBy: 'start',
      //~ descending: true,
      //~ page: 1,
      //~ rowsPerPage: 25,
      //~ rowsNumber: 0
    //~ })
    return {
      selected,
      //~ filter: ref(''),
      //~ pagination,
    }
  },
  created () {
      // CAREFUL; this is called each time you hit the 'page'
      //~ this.pagination.rowsNumber = this.activities_total;
  },
  mounted () {},
  computed: {
    ...mapGetters('clients', ['clients']),
    ...mapGetters('user', ['user']),
    ...mapGetters('registrations', ['active_registration', 'registrations', 'registrations_loading']),
    ...mapGetters('registrations', ['invoice_registrations']),
    ...mapGetters('invoices', ['invoices_list', 'invoice']),


    orderedInvoices: function () {
      //return _.orderBy(this.invoices_list, 'name')
      return this.invoices_list
    },
    //~ orderedInvoices: function () {
      //~ return _.orderBy(this.registrations, 'start', 'desc')
    //~ },
    orderedClientsList: function () {
      return _.orderBy(this.clients, 'order', 'asc')
    },
    orderedClients: function () {
        let clients = this.orderedClientsList.map(function(o) { return { "label": o.nickname, "value": o.id_, "description": o.name }});
        return clients;
    },
    userIsAdmin: function () {
      //~ return this.user.active_account_role=='admin'
      return this.user && this.user.roles && this.user.roles.includes("admins")
    }
  },
  components: {
    'add-invoice': require('components/Invoices/Modals/InvoiceAddUpdate.vue').default,
    'mark-invoice': require('components/Invoices/Modals/InvoiceMark.vue').default,
  },
  props: ['task', 'id_'],
  methods: {
    ...mapActions('clients', ['fetchClients']),
    ...mapActions('invoices', ['fetchInvoicesList', 'fetchInvoice', 'setActiveInvoice', 'deleteInvoice', 'updateInvoice']),

    triggerAddInvoice() {
      // clear active_registration as it may have been set by Edit
      this.setActiveInvoice({});
      this.showAddInvoice = true
    },
    triggerUpdate(invoice) {
      this.setActiveInvoice(invoice);
      this.showAddInvoice = true
    },
    triggerInvoiceViewer(id) {
      // Get invoice
      this.fetchInvoice({"id": id})
        .then(() => {
          //~ console.log("Storing Invoice to LocalStorage:", this.invoice)
          // Set localStorage.
          LocalStorage.set("invoice", this.invoice);
        })
        .then(() => {
          // Show Invoice Viewer (in new tab/window)
          window.open("#/iv", '_blank')
        })
    },
    markSubmitted(invoice) {
      // NOTICE: we set submitted here to get a 'default' value on the 'Mark Invoice' form.
      // create a clone of activity to work on (deep clone)
      let _invoice = JSON.parse(JSON.stringify(invoice));
      let _now = new Date();
      let _later = addToDate(_now, { days: 30 });
      _invoice.submitted = date.formatDate(_now, 'YYYY-MM-DD HH:mm:ss.SSS');
      _invoice.due = date.formatDate(_later, 'YYYY-MM-DD HH:mm:ss.SSS');
      this.setActiveInvoice(_invoice);
      this.showMarkInvoice = true;
    },
    markPaid(invoice) {
      // NOTICE: we set paid here to get a 'default' value on the 'Mark Invoice' form.
      // create a clone of activity to work on (deep clone)
      let _invoice = JSON.parse(JSON.stringify(invoice));
      let _now = new Date();
      _invoice.paid = date.formatDate(_now, 'YYYY-MM-DD HH:mm:ss.SSS');
      this.setActiveInvoice(_invoice);
      this.showMarkInvoice = true;
    },
    markDeposited(invoice) {
      // NOTICE: we set paid here to get a 'default' value on the 'Mark Invoice' form.
      // create a clone of activity to work on (deep clone)
      let _invoice = JSON.parse(JSON.stringify(invoice));
      let _now = new Date();
      _invoice.deposited = date.formatDate(_now, 'YYYY-MM-DD HH:mm:ss.SSS');
      this.setActiveInvoice(_invoice);
      this.showMarkInvoice = true;
    },
    promptToDelete(id) {
       this.$q.dialog({
          title: 'Confirm',
          message: 'Really delete?',
          cancel: true,
          persistent: true
        }).onOk(() => {
          this.deleteInvoice(id)
        })
    },
    trimNote(note) {
      let size = 80
      return note && note.length > size ? note.slice(0, size) + "..." : note;
    },
    tagsToString(tags) {
      return tags.join(", ");
    },
    tagsLength(tags) {
      return tags && tags.length > 0 ? tags.length : 0;
    },
    deleteInvoices(selected) {
      //~ console.log("Looks like you want to Delete the following invoices:", selected);
      // @TODO: we may want to move this to a batch delete later for performance (on the server) reasons.
      this.$q.dialog({
        title: 'Confirm',
        message: 'Are you sure you want to delete the ' + selected.length + ' Invoices?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        for (let i = 0; i < selected.length; i++) {
          //~ console.log("- delete invoice with id: " + selected[i].id_);
          // delete invoice (no notification after delete).
          this.deleteInvoice(selected[i].id_);
        }
        this.selected = []
      })
    },
    setModel() {
      console.log("Set model was called...");
    },
    resetFilter() {
      this.filter = JSON.parse(JSON.stringify(default_filter));
      this.filterRegistrations();
    },
    filterHasContent(filter) {
      if ( _.isEqual(filter, default_filter) ) {
        //~ console.log("filter and default_filter match!!");
        return false;
      } else {
        //~ console.log("filter and default_filter DO NOT MATCH!!");
        return true;
      }

    },
    filterRegistrations() {
      //~ console.log("Filtering registrations on:", this.filter);
      let startRow = 0
    },
    forceFetchInvoices() {
      this.fetchInvoicesList();
    },
    formatCurrency(amount) {
      if (amount && amount > 0) {
        return "$" + new Intl.NumberFormat().format(amount);
      } else {
        return null;
      }
    },
    getStatusDate(row) {
      // get the status date given a row of data.
      if (row.status == 'created') {
        return row.created;
      } else if (row.status == 'submitted') {
        if (row.due) {
          return row.due;
        } else {
          return row.submitted;
        }
      } else if (row.status == 'due') {
        return row.due;
      } else if (row.status == 'paid') {
        return row.paid;
      } else if (row.status == 'deposited') {
        return row.deposited;
      } else {
        return null;
      }
    },
    getAllStatusDates(row) {
      // get all status dates for a given row of data.
      let r = 'created: ' + row.created + "   ";

      if (row.submitted) {
        r = r + 'submitted: ' + row.submitted+ " ";
      }
      if (row.due) {
        r = r + 'due: ' + row.due + " .. ";
      }
      if (row.paid) {
        r = r + 'paid:      ' + row.paid + " ";
      }
      if (row.deposited) {
        r = r + 'deposited: ' + row.deposited + " ";
      }

      return '' + r + '';
    },
  },
  watch: {}
}
</script>

<style lang="sass">
  .my-sticky-header-table
    /* height or max-height is important */
    /* 500px is nice fit for 7 rows */
    height: 700px

    .q-table__top,
    .q-table__bottom,
    thead tr:first-child th
      /* bg color is important for th; just specify one */
      background-color: #FFFFFF

    thead tr th
      position: sticky
      z-index: 1
    thead tr:first-child th
      top: 0

    /* this is when the loading indicator appears */
    &.q-table--loading thead tr:last-child th
      /* height of all previous header rows */
      top: 48px

  /* prevent scrolling behind sticky top row on focus */
  tbody
    /* height of all previous header rows */
    scroll-margin-top: 48px

</style>
