<template>
<!--
  <div class="q-pa-md absolute-center" style="max-width: 400px">
-->
  <q-page class="flex flex-center bg-white text-primary">

    <div class="fixed-center" style="width: 33%;">

      <h4>Login</h4>

      <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
        <q-input filled v-model="username" label="Username" lazy-rules
          :rules="[ val => val && val.length > 2 || 'Please enter your username']"/>

        <q-input filled type="password" v-model="password" label="Password" lazy-rules
         :rules="[ val => val && val.length > 9 || 'Please enter your password (min 10)']" />

        <div>
          <q-btn label="Submit" type="submit" color="primary"/>
          <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
        </div>
      </q-form>

    </div>
  </q-page>
</template>

<script>
  import VueSSE from 'vue-sse';
  import { mapGetters, mapActions } from 'vuex'
  import { Loading, LocalStorage } from 'quasar'

  export default {
    name: 'LoginPage',

    data () {
        return {
            loading: false,
            username: process.env.default_login_username,                      // pragma: allowlist secret
            password: process.env.default_login_userpwd,                       // pragma: allowlist secret
            access_token: '',
        }
    },
    computed: {
        ...mapGetters('clients', ['clients']),
        ...mapGetters('invoices', ['invoices_list']),
        ...mapGetters('user', ['user', 'user_points']),


    },
    watch: {
      $route(to, from) {
        if (to.path == "/login") {
          // the following is used to complete the logout process when a
          // user's session has expired (e.g. token expired and 401 is thrown).
          this.onLogout()
        }
      },
    },
    mounted() {
      // note: call onLogout to ensure all sessions/objects are destroyed (e.g. redirect after 401).
      this.onLogout()
    },
    methods: {
        ...mapActions('auth', ['getToken']),
        ...mapActions('clients', ['fetchClients']),
        ...mapActions('invoices', ['fetchInvoicesList']),
        ...mapActions('registration_types', ['fetchRegistrationTypeList']),
        ...mapActions('sse', ['setupStream']),
        ...mapActions('tasks', ['fetchTaskList']),
        ...mapActions('user', ['fetchUser', 'fetchUserPoints', 'updateUser', 'resetUser']),
        ...mapActions('user_messages', ['fetchUserMessages']),


        onSubmit() {
            Loading.show({
              message: 'Authenticating credentials...',
              boxClass: 'bg-grey-2 text-grey-9',
              messageColor: 'primary',
              spinnerColor: 'primary'
            })

            this.getToken({ username: this.username, password: this.password, grant_type: 'password' })
              .then((token) => {
                //~ console.log("Get token returned token=" + token);
                this.fetchUser()
                  .then(() => {
                    // console.log("User Timezone: ", this.user.user_timezone);
                    //~ console.log("Setup Stream (SSE)...");
                    this.setupStream({ notify_id: this.user.notify_id, sse: this.$sse, sseClient: this.sseClient })
                      //~ .then(() => {
                        //~ console.log("SSE Stream Setup!");
                      //~ })
                  })
                  .then(() => {
                    Loading.hide()
                    // send user to their desired page.
                    // @TODO: this will be a user configurable item.
                    //~ this.$router.push('/registrations');
                    this.$router.push('/');
                  })
                  .then(() => {
                    // reset the username/password fields.
                    this.onReset()
                  })
              })
              .catch((error) => {
                  console.error("Got error while logging in:", error);
                  // show error message.
                  this.$q.notify({
                      message: "Login Error",
                      caption: "We had an issue logging you in:<p class='q-pa-md'><i>" + error.message + "</i></p>Is the authentication server available?",
                      spinner: false,
                      icon: 'bi-exclamation-triangle-fill',
                      color: 'red',
                      html: true,
                      position: 'center',
                      multiline: true,
                      timeout: 0,
                      actions: [
                          { icon: 'bi-x-circle', color: 'white', handler: () => { /* ... */ } }
                      ]
                  });
              })
              .finally(() => {
                Loading.hide()
              });
        },
        onLogout() {
          // reset user
          this.resetUser();
        },
        onReset() {
            this.username = ''
            this.password = ''   // pragma: allowlist secret
        },
    }   // end of methods
}
</script>
