<template>
    <q-page class="bg-white column">

        <div class="q-pa-xs">
          <q-table flat dense
            :rows="orderedRegistrations"
            :columns="columns"
            :visible-columns="visibleColumns"
            :loading="registrations_loading"
            row-key="id_"
            :filter="filter"
            v-model:pagination="pagination"
            binary-state-sort
            selection="multiple"
            v-model:selected="this.selected"
            @row-click="onRowClick"
            @row-dblclick="onRowDblClick"
            @request="onRequest"
            no-results-label="No data found, try reloading!"
            loading-label="Retrieving registrations...">

            <template v-slot:header="props">
              <q-tr :props="props">
                <q-th class="row">
                  <q-checkbox dense class="q-mb-xs" flat v-model="props.selected" />
                  <q-btn round flat dense icon="bi-trash3" color="red" v-if="selected.length > 0" @click="deleteRegistrations(selected)">
                    <q-tooltip>
                      Delete selected Registrations
                    </q-tooltip>
                  </q-btn>
                  <q-btn round flat dense icon="bi-receipt" color="red" v-if="selected.length > 0" @click="invoiceRegistrations(selected)">
                    <q-tooltip>
                      Invoice selected Registrations
                    </q-tooltip>
                  </q-btn>
                </q-th>
                <q-th>Dur</q-th>
                <q-th>Start</q-th>
                <q-th>End</q-th>
                <q-th>Ticket</q-th>

                <q-th>Task</q-th>
                <q-th>Type</q-th>
                <q-th>Note</q-th>
                <q-th><!-- tags --></q-th>
                <q-th><!-- punch-out --></q-th>
              </q-tr>
            </template>

            <template v-slot:top-right>

              <!-- Filter Bar -->
              <div class="row q-pa-xs bg-green-1 text-white rounded-borders justify-right">
                <div class="q-gutter-y-md row justify-right" style="max-width: 100%">

                  <q-space />

                  <!-- Invoiced -->
                  <q-toggle
                    class="text-black q-pl-sm q-mr-md"
                    color="primary"
                    dense
                    left-label
                    v-model="filter.invoiced"
                    label="Invoiced">
                    <q-tooltip>
                      Include Registrations that have already been Invoiced
                    </q-tooltip>
                  </q-toggle>

                  <!-- Client -->
                  <q-select
                    dense
                    label="Client"
                    v-model="filter.client"
                    input-debounce="0"
                    :options="this.orderedClients"
                    @input-value="setModel"
                    clearable
                    emit-value
                    map-options
                    class="q-mr-md text-white"
                    style="width: 133px;"
                    options-selected-class="text-blue-6"
                    input-class="text-body1">
                    <template v-slot:option="scope">
                      <q-item v-bind="scope.itemProps">
                        <q-item-section>
                          <q-item-label>{{ scope.opt.description }}</q-item-label>
                          <q-item-label caption>{{ scope.opt.label }}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-grey">
                          No results
                        </q-item-section>
                      </q-item>
                    </template>
                    <q-tooltip>
                      <div class="text-body1">Select Client</div>
                    </q-tooltip>
                  </q-select>

                  <!-- Start -->
                  <q-input flat dense ripple
                    label="Start"
                    style="width: 133px;"
                    class="q-mr-md"
                    color="primary"
                    v-model="filter.start"
                    placeholder="YYYY-MM-DD"
                    input-style=""
                    debounce="750"
                    input-class="text-body1">

                    <q-tooltip>
                      Filter by Start date<br/>
                      <strong>Note:</strong> only searching by date, not time is supported (e.g. YYYY-MM-DD).
                    </q-tooltip>

                  </q-input>

                  <!-- End -->
                  <q-input flat dense ripple
                    label="End"
                    style="width: 133px;"
                    class="q-mr-md"
                    debounce="750"
                    color="primary"
                    v-model="filter.end"
                    input-style=""
                    placeholder="YYYY-MM-DD"
                    input-class="text-body1">

                    <q-tooltip>
                      Filter by End date
                      <strong>Note:</strong> only searching by date, not time is supported (e.g. YYYY-MM-DD).
                    </q-tooltip>

                  </q-input>

                  <!-- Ticket# / Note / Tag -->
                  <q-input flat dense ripple
                    style="width: 133px;"
                    label="Misc"
                    debounce="750"
                    color="primary"
                    v-model="filter.general"
                    input-style=""
                    placeholder="Ticket# / Note / Tag"
                    input-class="text-body1">

                    <q-tooltip>
                      Filter by Ticket #, Note, or Tag<br/>
                      <strong>NOTE:</strong> Tag must be exact match
                    </q-tooltip>

                  </q-input>

                  <q-btn flat dense size="xs" color="primary" icon="bi-x-diamond" @click="resetFilter" v-if="filterHasContent(this.filter)">
                    <q-tooltip>Clear filter</q-tooltip>
                  </q-btn>

                  <q-space style="width: 18px;" v-if="!filterHasContent(this.filter)" />

                  <q-btn flat dense size="md" color="primary" icon="bi-funnel-fill" @click="filterRegistrations">
                    <q-tooltip>Apply filter</q-tooltip>
                  </q-btn>

<!--
                  <q-btn icon="bi-radioactive" color="primary" size="md" @click="debugClients" />
-->

                </div>

              </div>

              <!-- Add Registration -->
              <q-btn flat dense size="md" color="positive" icon="bi-plus-square" class="q-ml-sm" @click="triggerAddRegistration()">
                <q-tooltip>
                  <div class="text-body1">Add a Registration...</div>
                </q-tooltip>
              </q-btn>

              <!-- Refresh Registrations -->
              <q-btn flat dense size="sm" color="positive" icon="bi-arrow-repeat" @click="forceFetchRegistrations()">
                <q-tooltip>
                  <div class="text-body1">Refresh</div>
                </q-tooltip>
              </q-btn>

            </template>

            <template v-slot:body-selection="scope">
              <q-toggle v-model="scope.selected" />
            </template>

            <template v-slot:body="props">
              <q-tr :props="props" :class="(props.row.invoice)? 'bg-red-2':''">
                <q-td auto-width>

                  <q-checkbox dense v-model="props.selected" :label="props.row.name" class="q-pr-md" />

                  <!-- edit -->
                  <q-btn flat dense round padding="xs" size="sm" icon="bi-pencil-square" @click="triggerUpdateRegistration(props.row)" v-if="userIsAdmin">
                    <q-tooltip>
                      <div class="text-body1">edit</div>
                    </q-tooltip>
                  </q-btn>

                  <!-- delete -->
                  <!-- hide as we use selected row action to do delete
                  <q-btn flat dense round padding="xs" size="md" color="red" icon="bi-trash3" @click="promptToDelete(props.row.id_)" v-if="userIsAdmin">
                    <q-tooltip>
                      <div class="text-body1">delete</div>
                    </q-tooltip>
                  </q-btn>
                  -->

                  <!-- invoiced indicator -->
                  <div style="display: inline-block; width: 32px;" v-if="filter.invoiced">

                    <!-- invoiced -->
                    <q-icon name="bi-patch-check-fill" size="sm" color="blue" v-if="props.row.invoice">
                      <q-tooltip>Registration has been Invoiced</q-tooltip>
                    </q-icon>

                  </div>

                </q-td>

                <!--
                Data Columns
                -->

                <!-- Duration -->
                <q-td auto-width>
                    {{ props.row.duration_humanized }}
                    <q-tooltip>
                      HH:MM:SS: {{ durationToHHMMSS(props.row.duration) }}<br/>
                      ({{ props.row.duration }} seconds)
                    </q-tooltip>
                </q-td>

                <!-- Start -->
                <q-td auto-width>
                    {{ formatDisplayDateTime(props.row.start) }}
                    <q-tooltip>
                      {{ formatDisplayDateTimeLong(props.row.start) }}
                    </q-tooltip>
                </q-td>

                <!-- End -->
                <q-td auto-width>
                    {{ formatDisplayDateTime(props.row.end) }}
                    <q-tooltip>
                      {{ formatDisplayDateTimeLong(props.row.end) }}
                    </q-tooltip>
                </q-td>

                <!-- Ticket Number -->
                <q-td auto-width>
                    {{ props.row.ticket_number }}
                </q-td>

                <!-- Task -->
                <q-td auto-width>
                    <span v-if="props.row.task">
                      <span>
                        {{ props.row.task.project.client.nickname }}
                       </span>
                      <span class="">/</span>
                      <span>
                          {{ props.row.task.nickname }}
                      </span>
                    </span>
                    <q-tooltip>
                      <strong>Client: </strong>{{ props.row.task.project.client.name }}<br/>
                      <strong>Task: </strong>{{ props.row.task.name }}<br/>
                      <strong>Project: </strong>{{ props.row.task.project.name }}<br/>
                    </q-tooltip>

                </q-td>

                <!-- Type -->
                <q-td auto-width>
                    <span v-if="props.row.registration_type_full">
                        {{ props.row.registration_type_full.name }}
                        <q-tooltip>
                            {{ props.row.registration_type_full.note }}
                        </q-tooltip>
                    </span>
                </q-td>

                <!-- Note -->
                <q-td auto-width>
                    {{ trimNote(props.row.note) }}
                    <q-tooltip v-if="props.row.note">
                      {{ props.row.note }}
                    </q-tooltip>
                </q-td>

                <q-td auto-width>
                  <!-- Tags -->
                  <q-btn dense flat color="white" text-color="primary" icon="bi-tags" v-if="props.row.tags" class="q-pa-none">
                    <q-badge transparent color="primary" floating>{{ tagsLength(props.row.tags) }}</q-badge>
                    <q-tooltip anchor="top left" self="center left">
                        {{ tagsToString(props.row.tags) }}
                    </q-tooltip>
                  </q-btn>

                </q-td>

                <q-td style="min-width: 31px; width: 31px; max-width: 31px; " class="q-pa-none">
                  <!-- Punch Out -->
                  <q-btn flat dense size="md" icon="bi-alarm" color="blue" @click="punchOut(props.row)" v-if="!props.row.end" class="q-pa-none">
                    <q-tooltip>
                      <div class="text-body1">Punch out of registration</div>
                    </q-tooltip>
                  </q-btn>
                </q-td>
              </q-tr>

            </template>
          </q-table>

          <q-dialog v-model="showAddReg" persistent>
            <add-registration @close="showAddReg = false" />
          </q-dialog>

          <q-dialog v-model="showInvoiceRegistrations" persistent>
            <invoice-registrations @close="showInvoiceRegistrations = false" />
          </q-dialog>

        </div>
    </q-page>
</template>

<script>
  import { date } from 'quasar'
  import _ from 'lodash'
  import { mapActions} from 'vuex'
  import { mapGetters} from 'vuex'
  import { ref, onMounted } from 'vue'

  const default_filter = {
      "client": null,   // WWN: "1cd58e3a-91df-4894-9bd0-3dbd735e03e4"
      "end": null,
      "general": null,
      "invoiced": false,
      "start": null,
  }

export default {
  name: 'RegistrationsPage',

  data () {
    return {
      loading: false,
      showAddReg: false,
      showInvoiceRegistrations: false,
      visibleColumns: ["start", "end", "duration", "task", "task_label", "ticket_number"],
      columns: [
        {name: 'start', label: 'Start', required: true, field: 'start', sortable: true, align: 'left', style: 'width: 80px', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD HH:mm')},
        {name: 'end', label: 'End', required: true, field: 'end', sortable: true, align: 'left', style: 'width: 120px', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD HH:mm')},
        {name: 'duration', label: 'Duration', required: true, field: 'duration', sortable: true, align: 'left', style: 'width: 50px'},
        {name: 'duration_humanized', label: 'Duration', required: true, field: 'duration_humized', sortable: true, align: 'left', style: 'width: 50px'},
        {name: 'task', label: 'Task', required: true, field: 'task', sortable: true, align: 'left', style: 'width: 100px'},
        {name: 'task_label', label: 'Task', required: true, field: 'task_label', sortable: true, align: 'left', style: 'width: 100px'},
        {name: 'registration_type', label: 'Type', required: false, field: 'registration_type', sortable: true, align: 'left', style: 'width: 100px'},
        {name: 'registration_type_full', label: 'Type', required: false, field: 'registration_type_full', sortable: true, align: 'left', style: 'width: 100px'},
        {name: 'ticket_number', label: 'Ticket Number', required: true, field: 'ticket_number', sortable: true, style: 'width: 100px'},
        {name: 'invoiced', label: 'Invoiced', required: false, field: 'invoiced', sortable: true, align: 'left', style: 'width: 25px'},
      ],
    }
  },
  setup() {
    const selected = ref([])
    const pagination = ref({
      sortBy: 'start',
      descending: true,
      page: 1,
      rowsPerPage: 20,
      rowsNumber: 1
    })
    return {
      selected,
      filter: ref({
        "client": null,   // WWN: "1cd58e3a-91df-4894-9bd0-3dbd735e03e4"
        "end": null,
        "general": null,
        "invoiced": false,
        "start": null,
      }),
      pagination,
    }
  },
  created () {
      // CAREFUL; this is called each time you hit the 'page'
      //~ this.pagination.rowsNumber = this.activities_total;
      this.pagination.rowsNumber = this.page_total;
  },
  mounted () {},
  computed: {
    ...mapGetters('clients', ['clients']),
    ...mapGetters('user', ['user']),
    ...mapGetters('registrations', ['active_registration', 'invoice_registrations', 'registrations', 'registrations_count', 'registrations_loading']),

    orderedRegistrations: function () {
      return _.orderBy(this.registrations, 'start', 'desc')
    },
    orderedClientsList: function () {
      return _.orderBy(this.clients, 'order', 'asc')
    },
    orderedClients: function () {
        let clients = this.orderedClientsList.map(function(o) { return { "label": o.nickname, "value": o.id_, "description": o.name }});
        return clients;
    },
    userIsAdmin: function () {
      //~ return this.user.active_account_role=='admin'
      return this.user && this.user.roles && this.user.roles.includes("admins")
    },
    page_total () {
      return this.registrations_count.total
    },
  },
  components: {
    'add-registration': require('components/Registrations/Modals/RegistrationAddUpdate.vue').default,
    'invoice-registrations': require('components/Registrations/Modals/InvoiceRegistrations.vue').default,
  },
  props: ['task', 'id_'],
  methods: {
    ...mapActions('clients', ['fetchClients']),
    ...mapActions('registrations', ['fetchRegistrations', 'updateRegistration', 'deleteRegistration', 'setActiveRegistration', 'setInvoiceRegistrations']),

    formatDisplayDateTime(dt) {
      return date.formatDate(new Date(dt+"-05:00") , 'DD-MMM HH:mm')
    },
    formatDisplayDateTimeLong(dt) {
      return date.formatDate(new Date(dt+"-05:00") , 'YYYY-MM-DD HH:mm:ss Z')
    },
    triggerAddRegistration() {
        // clear active_registration as it may have been set by Edit
        this.setActiveRegistration({});
        this.showAddReg = true
    },
    triggerUpdateRegistration(registration) {
      this.setActiveRegistration(registration);
      this.showAddReg = true
    },
    punchOut(registration) {
      // console.log("PunchOut Registration incoming registration:", registration);
      // clone registration (deep clone)
      let reg = JSON.parse(JSON.stringify(registration));
      // need to rename id_ to _id.
      reg._id = reg.id_
      // remove unneeded (_rev, created, creator duration, registration_type_full, task, updated, updator, user)
      delete reg.id_;
      delete reg._rev;
      delete reg.created;
      delete reg.creator;
      delete reg.updated;
      delete reg.updator;
      delete reg.duration;
      delete reg.registration_type_full;
      delete reg.task;
      delete reg.user;
      reg.end = date.formatDate(Date.now(), 'YYYY-MM-DD HH:mm:ss.SSS');

      //~ console.log("PunchOut Registration outgoing registration:", reg);
      this.updateRegistration(reg)
      .then((response) => {
          //~ console.log("Punched out successful:", response);
          // ORIG: "<strong class='notify-data-header'>Punched Out</strong><ul><li>Start: <span class='notify-data-important'>" + registration.start + "</span></li><li>End: <span class='notify-data-important'>" + registration.end + "</span></li><li>Task: <span class='notify-data-important'>" + registration.task.name + "</span></li><li>Type: <span class='notify-data-important'>" + registration.registration_type_full.name + "</span></li><li>Ticket#: <span class='notify-data-important'>" + registration.ticket_number + "</span></li></ul>"
          let _start =  "<li>Start: <span class='notify-data-important'>" + registration.start + "</span></li>";
          let _end =    registration.end ? "<li>End: <span class='notify-data-important'>" + registration.end + "</span></li>" : "";
          let _task =   registration.task.name ? "<li>Task: <span class='notify-data-important'>" + registration.task.name + "</span></li>" : "";
          let _type =   registration.registration_type_full.name ? "<li>Type: <span class='notify-data-important'>" + registration.registration_type_full.name + "</span></li>" : "";
          let _ticket = registration.ticket_number ? "<li>Ticket#: <span class='notify-data-important'>" + registration.ticket_number + "</span></li>" : "";
          // check for null or undefined
          let msg = "<strong class='notify-data-header'>Punched Out</strong><ul>"+_start+_end+_task+_type+_ticket+"</ul>";

          this.$q.notify({
              closeBtn: true,
              message: msg,
              caption: "<span class=''>" + response.msg+ "</span>",   // displays after message
              color: 'green-2',
              textColor: 'dark',
              html: true,
              position: 'top',
              multiLine: true,
              timeout: 13000,      // in milliseconds
          })
      })
      .catch((error) => {
          console.log('Error Punching Out Registration', error)
      })
    },
    promptToDelete(id) {
       this.$q.dialog({
          title: 'Confirm',
          message: 'Really delete?',
          cancel: true,
          persistent: true
        }).onOk(() => {
          this.deleteRegistration(id)
        })
    },
    onRowClick (evt, row, index) {
      console.log('clicked on', row)
    },
    onRowDblClick (evt, row, index) {
      console.log('double clicked on', row)
    },
    trimNote(note) {
      let size = 30
      return note && note.length > size ? note.slice(0, size) + "..." : note;
    },
    tagsToString(tags) {
      return tags.join(", ");
    },
    tagsLength(tags) {
      return tags && tags.length > 0 ? tags.length : 0;
    },
    deleteRegistrations(selected) {
      //console.log("Looks like you want to Delete the following registrations:", selected);
      // @TODO: we may want to move this to a batch delete later for performance (on the server) reasons.
      this.$q.dialog({
        title: 'Confirm',
        message: 'Are you sure you want to delete the ' + selected.length + ' Registrations?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        for (let i = 0; i < selected.length; i++) {
          //console.log("- delete message with id: " + selected[i].id_);
          // delete registration (no notification after delete).
          this.deleteRegistration(selected[i].id_);
        }
        this.selected = []
      })
    },
    invoiceRegistrations(selected) {
      let selected_registrations = JSON.parse(JSON.stringify(selected));
      //console.log("Looks like you want to Invoice the following registrations:", selected);

      // set store-registrations.invoice_registrations list to selected list so we can access it in the InvoiceRegistrations dialog
      this.setInvoiceRegistrations(selected);

      // show Invoice selector
      //this.setActiveRegistration({});
      this.showInvoiceRegistrations = true

      // update each Registration to have selected Invoice

    },
    setModel() {
      console.log("Set model was called...");
    },
    debugClients() {
      console.log("Clients:", JSON.parse(JSON.stringify(this.clients)));
      //~ console.log("Fetching clients...");
      //~ this.fetchClients()
        //~ .then((response) => {
          //~ console.log("Clients:", JSON.parse(JSON.stringify(this.clients)));
          //~ return response
        //~ })
    },
    resetFilter() {
      this.filter = JSON.parse(JSON.stringify(default_filter));
      this.filterRegistrations();
    },
    filterHasContent(filter) {
      if ( _.isEqual(filter, default_filter) ) {
        return false;
      } else {
        return true;
      }
    },
    filterRegistrations() {
      //~ console.log("Filtering registrations on:", this.filter);
      let startRow = 0
      //~ if ( props.pagination.page > 1 ) {
        //~ startRow = ( props.pagination.page - 1 ) * props.pagination.rowsPerPage;
      //~ }
      this.fetchRegistrations({
        filter_general: this.filter.general,
        filter_start: this.filter.start,
        filter_end: this.filter.end,
        filter_client: this.filter.client,
        include_invoiced: this.filter.invoiced,
        limit: this.pagination.rowsPerPage,
        skip: startRow
      })

      //~ this.pagination.rowsPerPage = props.pagination.rowsPerPage;
      //~ this.pagination.sortBy = props.pagination.sortBy;
      //~ this.pagination.descending = props.pagination.descending;

      // @NOTICE: no idea why we need to use page + 0 but if you dont use the page
      //          number does not increment when you navigate via the pager.
      //~ this.pagination.page = props.pagination.page + 0;
    },
    forceFetchRegistrations() {
      //~ console.log("Force fetchRegistrations...");
      this.filterRegistrations();
    },
    closeInvoiceRegistrations() {
      //~ console.log("Close InvoiceRegistrations...");
      showInvoiceRegistrations = false;

    },
    durationToHHMMSS(duration) {
      // convert seconds to hh:mm:ss (https://stackoverflow.com/a/25279340)
      let _ret = new Date(duration * 1000).toISOString().slice(11, 19);
      return _ret;
    },
    onRequest(props) {
      //~ console.log("onRequest hit with props of: ", props);
      let startRow = 0
      if ( props.pagination.page > 1 ) {
        startRow = ( props.pagination.page - 1 ) * props.pagination.rowsPerPage;
      }
      this.fetchRegistrations({
        filter_general: this.filter.general,
        filter_start: this.filter.start,
        filter_end: this.filter.end,
        filter_client: this.filter.client,
        include_invoiced: this.filter.invoiced,
        limit: props.pagination.rowsPerPage,
        skip: startRow
      })

      this.pagination.rowsPerPage = props.pagination.rowsPerPage;
      this.pagination.sortBy = props.pagination.sortBy;
      this.pagination.descending = props.pagination.descending;

      // @NOTICE: no idea why we need to use page + 0 but if you dont use the page
      //          number does not increment when you navigate via the pager.
      this.pagination.page = props.pagination.page + 0;
    },
  },
  watch: {
    invoice_registrations (newVal, oldVal) {
      //~ console.log("invoice_registrations changed from:", oldVal);
      //~ console.log("invoice_registrations changed to:", newVal);
      if (newVal.length == 0) {
        //~ console.log("invoice_registrations is 0, clear selected!!!");
        this.selected = [];
      }
    },
    // @NOTICE: for some reason we need a watch here or rowsNumber is 1 iteration behind.
    page_total (oldVal, newVal) {
      this.pagination.rowsNumber = this.registrations_count.total;
    }
  }
}
</script>

