<template>
    <q-page>
        <div style="width: 600px; height: 600px;" class="bg-image absolute-center">
<!--
            container for the background image
-->
        </div>

        <div class="row q-pa-lg q-ma-md items-center content-center flex-center">

          <div class="col-auto q-pa-sm q-ma-sm">

              <q-card class="my-card text-white" style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%); height: 200px; width: 233px;">
                <q-card-section>
                  <div class="text-h6 text-center text-uppercase">Status Update</div>
                  <div class="text-subtitle2 text-right">drad</div>
                </q-card-section>

                <q-card-section class="q-pt-none text-body1 text-left">
                  Registrations and Invoices are working, next up is likely Tickets.
                </q-card-section>

              </q-card>

          </div>
          <div class="col-auto q-pa-sm q-ma-sm">

              <q-card class="my-card text-white" style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%); height: 200px; width: 233px;">
                <q-card-section>
                  <div class="text-h6 text-center text-uppercase">Remaining</div>
                  <div class="text-subtitle2 text-right">drad</div>
                </q-card-section>

                <q-card-section class="q-pt-none text-body1 text-left">
                  Tickets, Inventory and Benchmarks are in the queue.
                </q-card-section>
              </q-card>
          </div>

        </div>


        <div class="row q-pa-lg q-ma-md items-center content-center flex-center" v-if="a=b">

            <!--
                Quick Services
            -->

            <div class="row q-mt-none q-pa-none flex-center q-gutter-sm" v-if="this.user.username">

                <q-card class="my-card bg-green text-white">
                  <q-card-section>
                    <div class="text-subtitle2">Add Registration</div>
                  </q-card-section>

                  <q-card-section style="display: flex;" class="justify-center">
                    <q-img src="work.png" loading="lazy"
                      fit="scale-down"
                      spinner-color="white"
                      height="80px"
                      style="max-width: 150px" />
                  </q-card-section>

                  <q-separator dark />

                  <q-card-actions class="justify-center">
                    <q-btn flat>add</q-btn>
                  </q-card-actions>
                </q-card>

            </div>

            <div class="row">
                &nbsp;
            </div>


        </div>

    </q-page>

</template>

<script>
  import VueSSE from 'vue-sse';
  import { mapGetters, mapActions } from 'vuex'
  import { LocalStorage } from 'quasar'
  import { api } from 'boot/axios'

  export default {
    name: 'WelcomePage',

    data () {
      return {
        loading: false,
        showSubmitTask: false,
        showSubmitReward: false,
        showSendPoints: false,
        welcome_content: "<ul><li>Earn Points!</li><li>Redeem Points!</li></ul>Keep an eye on the Point Leader!",
        about_content: "Created by: __US__<br/>Last Release: 2021-04-03 (v.0.0.0)",
      }
    },
    computed: {
      ...mapGetters('about', ['ui']),
      ...mapGetters('user', ['user']),

    },
    components: {},
    filters: {},
    created () {},
    mounted () {},
    methods: {
        ...mapActions('clients', ['fetchClients']),
        ...mapActions('invoices', ['fetchInvoicesList']),
        ...mapActions('sse', ['setupStream']),
        ...mapActions('tasks', ['fetchTaskList']),
        ...mapActions('user', ['fetchUser', 'fetchUserPoints', 'updateUser', 'resetUser']),
        ...mapActions('user_messages', ['fetchUserMessages']),


        toTasks() {
          if ( this.user == undefined || JSON.stringify(this.user) === '{}' ) {
            // not logged in.
            this.$router.push({ path: '/login' })
          } else {
            this.$router.push({ path: '/tasks' })
          }
        },
        toRewards() {
          if ( this.user == undefined || JSON.stringify(this.user) === '{}' ) {
            // not logged in.
            this.$router.push({ path: '/login' })
          } else {
            this.$router.push({ path: '/rewards' })
          }
        },
        toPoints() {
          if ( this.user == undefined || JSON.stringify(this.user) === '{}' ) {
            // not logged in.
            this.$router.push({ path: '/login' })
          } else {
            this.$router.push({ path: '/points' })
          }
        },
        pointsEarn() {
          console.log("- earn points...");
        },
        //~ ReAuthenticate() {
          //~ console.log("Attempting to re-authenticate...");
          //~ if ( LocalStorage.has('radiant-ui_access-token') ) {
            //~ let access_token = LocalStorage.getItem('radiant-ui_access-token')
            //~ console.log("Access Token: ", access_token);

            //~ api.defaults.headers.common['Authorization'] = 'Bearer ' + access_token;

            //~ console.log("Got token, getting User...");
            //~ this.fetchUser()
              //~ .then(() => {
                //~ console.log("User Timezone: ", this.user.user_timezone);
                //~ console.log("Setup Stream (SSE)...");
                //this.setupStream({ notify_id: this.user.notify_id, sse: this.$sse, sseClient: this.sseClient, sseHandler: this.handleSSEMessage })
                //~ this.setupStream({ notify_id: this.user.notify_id, sse: this.$sse, sseClient: this.sseClient })
              //~ })
              //~ .then(() => {
                //~ console.log("Load initial user data");
                //~ console.log("- get Clients...");
                //~ this.fetchClients();
                //~ console.log("- get Invoices List...");
                //~ this.fetchInvoicesList();
                //~ console.log("- get Task List...");
                //~ this.fetchTaskList();
                //~ console.log("- get User Messages...");
                //~ this.fetchUserMessages();
                //~ console.log("Initial user data loaded!");
              //~ })

          //~ } else {
            //~ console.log("No access token, need to log in again...");
          //~ }
        //~ },
    },
  }
</script>

<style>
  .bg-image {
    /* background-image: url("/money-crypto.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 50%;
    background-size: cover;
    margin: 20px;
    opacity: 0.3;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .hidden-bottom-row {
    border: 1px solid red;
  }
  .my-card {
    width: 100%;
    max-width: 250px;
  }
  #splash-image {
      border-radius: 7px;
  }
  a:link, a:visited, a:hover, a:active {
      text-decoration: none;
  }
</style>
