{% extends 'admin/master.html' %}
{% block body %}

    <div class="main">

        <h3>Account</h3>

        <div id="submenu">
          <a href="{{ url_for('user_user.edit_view') }}?id={{ current_user.id }}&url=admin/account_user">Edit Account</a>
        </div>

        <div id="account">
          <table>
            <tr>
              <th>Name</th>
              <td>{{ current_user.name }}</td>
            </tr>
            <tr>
              <th>Nickname</th>
              <td>{{ current_user.nickname }}</td>
            </tr>
            <tr>
              <th>Username</th>
              <td>{{ current_user.username }}</td>
            </tr>
            <tr>
              <th>Roles</th>
              <td>
                {% for role in current_user.roles %}
                  {{ role.name }}&nbsp;
                {% endfor %}
              </td>
            </tr>
          </table>
        </div>

    </div>

{% endblock %}
