{% extends 'admin/master.html' %}
{% block body %}

<!--
    - shows all registrations of a bill with time, amount, etc and a total for the bill,
    - has a link to generate the pdf of a bill
-->

  <h3>Bill Summary</h3>
    <div id="bill-submenu">
        <ul>
            <li><a href="#">generate bill</a></li>
        </ul>
    </div>

    <div id="dashboard-service-status">
      <h4>Summary</h4>
      <div id="bill-summary">
        bill summary goes here...
      </div>
    </div>

    <div id="dashboard-service-status">
      <h4>Registrations</h4>
      <div id="bill-registrations">
        list of all registrations in bill goes here...
      </div>
    </div>


{% endblock %}
