{% extends 'admin/master.html' %}
{% block body %}
    <div class="main">
        <h3>Home</h3>
        {% if not current_user.id %}
            <div class="noticebox">
                You can't do a lot unless you <a href="login_ldap?next=admin/">LOG IN</a>...
            </div>
        {% endif %}
        <p>
          Radiant provides Time and Invoice management, Ticketing features, Inventory / Asset management, Benchmark management, and a lot more! See the Help page for more info.
        </p>

        <h4 style="padding-top: 20px;">Latest Changes</h4>

        <ul style="margin: 0 0 10px 25px; padding-bottom: 30px;">
          <li>added custom export formatter for Registrations</li>
          <li>changed Note field to only render as html/markdown in detail view to save space</li>
        </ul>

        <h4 style="padding-top: 20px;">Improvements / Issues</h4>
        <p style="padding-bottom: 220px;">
            If you have an idea for an improvement or find an issue please see the <a href='help_about'>about</a> page.
        </p>
    </div>

{% endblock %}
