{% extends 'admin/master.html' %}
{% block body %}

    <div class="main">

        <h3>Database</h3>

        <div id="dashboard-service-status">
          <h4>Backups</h4>
          <pre>
{{ backups_listing }}
          </pre>
        </div>

    </div>


{% endblock %}
