<template>
    <q-card style="width: 65%">
        <q-card-section class="row">
          <div class="text-h6">Add Registrations to Invoice</div>
          <q-space />
          <q-btn flat round dense icon="bi-x-square" v-close-popup />
        </q-card-section>

        <form @submit.prevent="submitForm">
            <q-card-section class="q-pt-none">
                <div class="q-mb-sm row">
                    Select an Invoice to Add the Registrations to...
                </div>
                <div class="q-mb-sm row">
                    <div class="col">

                        <q-select
                          label="Invoice"
                          v-model="invoice_id"
                          input-debounce="0"
                          :options="this.invoices_list_options"
                          map-options
                          square outlined
                          @update:model-value="val => setInvoice(val)"
                          class="q-ml-none">

                            <template v-slot:option="scope">
                              <q-item v-bind="scope.itemProps">
                                <q-item-section avatar v-if="scope.opt.icon">
                                  <q-icon :name="scope.opt.icon" />
                                </q-item-section>
                                <q-item-section>
                                  <q-item-label>
                                    <div class="row">

                                      <div class="col-7 text-left text-h6">
                                      {{ scope.opt.label }}
                                      </div>

                                      <div class="col-4 text-center">
                                        <span class="text-deep-purple-5 invoice-client-name">
                                           {{ scope.opt.client }}
                                           <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                                              {{ scope.opt.client_full }}
                                           </q-tooltip>
                                        </span>
                                      </div>

                                      <div class="col-1 text-right text-red">
                                        <q-icon size="xs" name="bi-r-square-fill" />
                                        {{ scope.opt.number_registrations }}
                                        <q-tooltip># of Registrations</q-tooltip>
                                      </div>

                                    </div>
                                  </q-item-label>
                                  <q-item-label caption>
                                    <div class="row">
                                      <div class="col-9 text-left">
                                        {{ scope.opt.description }}
                                      </div>

                                      <div class="col-3 text-right">
                                          {{ scope.opt.created }}
                                      </div>

                                    </div>
                                  </q-item-label>
                                </q-item-section>
                              </q-item>
                            </template>
                            <template v-slot:no-option>
                              <q-item>
                                <q-item-section class="text-grey">
                                  No results
                                </q-item-section>
                              </q-item>
                            </template>
                        </q-select>

                    </div>
                </div>

            </q-card-section>

            <q-card-section>
                <q-table
                  title="Registrations"
                  :rows="this.invoice_registrations"
                  :columns="columns"
                  row-key="name"
                />
            </q-card-section>

            <q-card-actions align="right">
              <q-btn label="Continue" color="primary" type="submit" :disable="submitDisabled"  />
            </q-card-actions>
        </form>

    </q-card>
</template>

<script>
    import { mapActions } from 'vuex'
    import { mapGetters } from 'vuex'
    import { date } from 'quasar'
    import _ from 'lodash'
    import { ref } from 'vue'

    export default {
        data() {
            return {
                submitDisabled: ref(true),
                invoice_id: ref(null),
                columns: [
                    {name: 'start', label: 'Start', required: true, field: 'start', sortable: true, align: 'left', style: 'width: 80px', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD HH:mm')},
                    {name: 'end', label: 'End', required: true, field: 'end', sortable: true, align: 'left', style: 'width: 120px', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD HH:mm')},
                    //~ {name: 'duration', label: 'Duration', required: true, field: 'duration', sortable: true, align: 'left', style: 'width: 50px'},
                    {name: 'duration_humanized', label: 'Duration', required: true, field: 'duration_humanized', sortable: true, align: 'left', style: 'width: 50px'},
                    //~ {name: 'task', label: 'Task', required: true, field: 'task', sortable: true, align: 'left', style: 'width: 100px'},
                    //~ {name: 'task_label', label: 'Task', required: true, field: 'task_label', sortable: true, align: 'left', style: 'width: 100px'},
                    //~ {name: 'registration_type', label: 'Type', required: false, field: 'registration_type', sortable: true, align: 'left', style: 'width: 100px'},
                    //~ {name: 'registration_type_full', label: 'Type', required: false, field: 'registration_type_full', sortable: true, align: 'left', style: 'width: 100px'},
                    {name: 'ticket_number', label: 'Ticket Number', required: true, field: 'ticket_number', sortable: true, style: 'width: 100px'},
                    //~ {name: 'invoiced', label: 'Invoiced', required: false, field: 'invoiced', sortable: true, align: 'left', style: 'width: 25px'},
                ],
            }
        },
        setup() {
          return {}
        },
        computed: {
            //...mapGetters('tasks', ['task_list']),
            //...mapGetters('registration_types', ['registration_type_list']),
            //...mapGetters('registrations', ['active_registration', 'registrations', 'registrations_loading']),
            ...mapGetters('registrations', ['invoice_registrations']),

            ...mapGetters('invoices', ['invoices_list']),

            createdInvoices: function () {
              return _.filter(this.invoices_list, function(i) { return i.status == 'created' });
            },
            orderedInvoicesList: function () {
                //~ return _.orderBy(this.invoices_list, 'created', 'desc')
                return _.orderBy(this.createdInvoices, 'created', 'desc')
            },
            invoices_list_options: function () {
                return this.orderedInvoicesList.map(function(t) { return { "label": t.name, "value": t.id_, "description": t.note, "icon": t.icon, "client": t.client_nickname, "client_full": t.client_name, "created": t.created, "number_registrations": t.number_registrations }});
            },
        },
        methods: {
            ...mapActions('registrations', ['invoiceRegistration', 'setInvoiceRegistrations']),
            ...mapActions('invoices', ['fetchInvoicesList']),

            submitForm() {
                //~ console.log("Form submitted with Invoice Id:" + this.invoice_id.value + " and registrations:", this.invoice_registrations);

                // loop through each registration, setting its 'invoice' to the invoice_id they selected.
                const len = this.invoice_registrations.length
                for (const r in this.invoice_registrations) {
                    let i = +r + 1;
                    //~ console.log("i=" + i + " | r=" + r + " | len=" + len);
                    // console.log("Invoicing registration (A):", this.invoice_registrations[r]);
                    let _batch_complete = len > i ? false : true;
                    let invoice_registration = {
                        "_id": this.invoice_registrations[r]['id_'],
                        "invoice": this.invoice_id.value,
                        "batch_complete": _batch_complete,   // if batch_complete = True sse messages are sent
                    };
                    //~ console.log("Invoicing registration (i=" + i + "):", invoice_registration);
                    this.invoiceRegistration(invoice_registration)
                        .then((response) => {
                            //~ console.log("- Registration invoiced...");
                            // perform wrapup on response of last item only!
                            if (i >= len) {
                                //~ console.log("Last registration, perform wrapup...");
                                // Reset this.invoice_registrations
                                this.setInvoiceRegistrations([]);
                                // show notification on last item.
                                this.$q.notify({
                                    message: "Registrations Added",
                                    caption: "Your <strong>" + i + "</strong> Registrations have been added to the Invoice!",
                                    spinner: false,
                                    icon: 'bi-receipt-cutoff',
                                    color: 'indigo-11',
                                    // textColor: 'secondary',
                                    html: true,
                                    position: 'top',
                                    multiline: true,
                                    timeout: 5000,
                                    actions: [
                                      { icon: 'bi-x-square', color: 'white', round: true, handler: () => { /* ... */ } }
                                    ]
                                })

                                // close dialog.
                                this.$emit('close')
                            }
                        })
                        .catch((error) => {
                            console.log('Error Invoicing Registration:', error)
                        })
                }

            },
            setInvoice(val) {
                //~ console.log("Invoice set:", val);
                this.submitDisabled = false;
            }
        },
        created () {
          // CAREFUL; this is called each time you hit the 'page'
          //~ console.log("Invoices List is:", this.invoices_list);
          //~ console.log("Invoices List Ordered:", this.orderedInvoicesList);
          this.fetchInvoicesList()
            .then((response) => {
              //~ console.log("Invoices List fetched:", JSON.parse(JSON.stringify(this.invoices_list)));
              return response
            })
          //~ console.log("InvoiceRegistrations > Invoice Registrations are:", this.invoice_registrations);
        },
        mounted () {},
    }
</script>


<style lang="sass">
    .invoice-client-name
        font-size: smaller
</style>
