<template>
    <q-card style="width: 65%">
        <q-card-section class="row">
          <div class="text-h6">Registration</div>
          <q-space />
          <q-btn flat round dense icon="bi-x-square" v-close-popup />
        </q-card-section>

        <form @submit.prevent="submitForm">
            <q-card-section class="q-pt-none">
                <div class="q-mb-sm row">
                    <div class="col">
                        <q-input
                            required
                            v-model="objBuild.start"
                            bottom-slots
                            label="Start *"
                            style="width: 160px"
                            class="q-ml-none"
                            lazy-rules
                            :rules="start_rules">

                            <template v-slot:hint>
                              YYYY-MM-DD HH:MM:SS
                            </template>
                        </q-input>
                    </div>
                    <div class="col">
                        <q-input
                            v-model="objBuild.end"
                            bottom-slots
                            label="End"
                            style="width: 160px"
                            class="q-ml-sm"
                            lazy-rules
                            :rules="end_rules">

                            <template v-slot:hint>
                              YYYY-MM-DD HH:MM:SS
                            </template>
                        </q-input>
                    </div>
                    <div class="col">
                        <q-input
                            autofocus
                            v-model="objBuild.ticket_number"
                            label="Ticket#"
                            style="width: 100px"
                            class="q-ml-sm"
                            />

                    </div>
                </div>

                <div class="row">
                  <div class="col-auto">
                    <q-select
                      label="Task"
                      v-model="objBuild.task_id"
                      input-debounce="0"
                      :options="this.tasklist_options"
                      options-dense
                      map-options
                      @update:model-value="val => getRegistrationTypes(val)"
                      class="q-ml-none"
                      style="width: 240px">

                        <template v-slot:option="scope">
                          <q-item v-bind="scope.itemProps">
                            <q-item-section avatar>
                              <q-icon :name="scope.opt.icon" />
                            </q-item-section>
                            <q-item-section>
                              <q-item-label>
                                  {{ scope.opt.label }}
                                  <q-tooltip if="scope.opt.description">
                                    {{ scope.opt.description }}
                                  </q-tooltip>
                              </q-item-label>
                            </q-item-section>
                          </q-item>
                        </template>
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              No results
                            </q-item-section>
                          </q-item>
                        </template>

                    </q-select>
                  </div>
                  <div class="col-auto">
                    <q-select
                      label="Type"
                      v-model="objBuild.registration_type"
                      input-debounce="0"
                      :options="this.registration_type_list_options"
                      options-dense
                      map-options
                      class="q-ml-none"
                      style="width: 240px">

                        <template v-slot:option="scope">
                          <q-item v-bind="scope.itemProps">
                            <q-item-section avatar>
                              <q-icon :name="scope.opt.icon" />
                            </q-item-section>
                            <q-item-section>
                              <q-item-label>
                                  {{ scope.opt.label }}
                                  <q-tooltip if="scope.opt.description">
                                    {{ scope.opt.description }}
                                  </q-tooltip>
                              </q-item-label>
                            </q-item-section>
                          </q-item>
                        </template>
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              No results
                            </q-item-section>
                          </q-item>
                        </template>

                    </q-select>
                  </div>

                </div>

                <div class="q-mb-sm">
                    <q-input
                      label="Note"
                      autogrow
                      v-model="objBuild.note" />
                </div>

                <div class="q-mb-sm">

                    <q-select
                        label="Tags"
                        use-input
                        use-chips
                        multiple
                        hide-dropdown-icon
                        input-debounce="0"
                        new-value-mode="add-unique"
                        v-model="objBuild.tags"
                        hint="Use Enter after each tag"
                        style="width: 99%;"
                        class="q-mb-xs q-mr-xs"
                      >
                        <q-tooltip>Tags for Registration</q-tooltip>
                    </q-select>

                </div>

                <!--
                    TEMPORARY: for adding invoice

                <div class="q-mb-sm">
                    <q-input
                      color="teal"
                      standout
                      label="Invoice"
                      v-model="objBuild.invoice">

                      <template v-slot:append>
                          <q-icon name="bi-exclamation-triangle-fill" />
                      </template>
                    </q-input>
                </div>
                -->

            </q-card-section>

            <q-card-actions align="right">
              <q-btn label="Submit" color="primary" type="submit" />
            </q-card-actions>

        </form>
    </q-card>
</template>

<script>
    import { mapActions } from 'vuex'
    import { mapGetters } from 'vuex'
    import { date } from 'quasar'
    import _ from 'lodash'

    export default {
        data() {
            return {
                objBuild: {
                    "start": date.formatDate(Date.now(), 'YYYY-MM-DD HH:mm:ss.SSS'),
                    "task_id": "",
                    "registration_type": "",
                    "tags": []
                },
            }
        },
        setup() {
          return {
              start_rules: [
                  (val) => ( val && val.length > 15 ) || "Please enter start date/time",
                  (val) => ( Date.parse(val) ) || "Please enter a valid date",
              ],
              end_rules: [
                (val) => (val.length === 0 || (Date.parse(val) && val.length > 15) ) || 'Please enter a valid date'
              ],
          }
        },
        computed: {
            ...mapGetters('tasks', ['task_list']),
            ...mapGetters('registration_types', ['registration_type_list']),
            ...mapGetters('registrations', ['active_registration', 'registrations', 'registrations_loading']),

            orderedTaskList: function () {
              return _.orderBy(this.task_list, 'order')
            },
            tasklist_options: function () {
                return this.orderedTaskList.map(function(t) { return { "label": t.client_project + "/" + t.nickname, "value": t.id_, "description": t.note, "icon": t.icon, "client": t.client }});
            },
            orderedRegistrationTypeList: function () {
              return _.orderBy(this.registration_type_list, 'name')
            },
            registration_type_list_options: function () {
                return this.orderedRegistrationTypeList.map(function(rt) { return { "label": rt.name, "value": rt.id_, "description": rt.note, "icon": rt.icon }});
            },
        },
        methods: {
            ...mapActions('tasks', ['addTask']),
            ...mapActions('registrations', ['fetchRegistrations', 'addRegistration', 'updateRegistration']),
            ...mapActions('registration_types', ['fetchRegistrationTypeList']),

            /*
             * NOTICE submitForm handles both Add and Update!
             */
            submitForm() {
                // console.log("Form submitted with Registration:", JSON.stringify(this.objBuild));
                // deep clone
                let _toSubmit = JSON.parse(JSON.stringify(this.objBuild));
                //~ console.log("Initial submitted registration:", JSON.parse(JSON.stringify(_toSubmit)));
                // get/set task_id and registration_type if they have been changed, else leave as-is.
                if ( this.objBuild.task_id.value ) {
                    _toSubmit.task_id = this.objBuild.task_id.value;
                }
                if ( this.objBuild.registration_type.value ) {
                    _toSubmit.registration_type = this.objBuild.registration_type.value;
                }
                // check for 'id', if we have it this is an update!
                if ( Object.hasOwn(this.objBuild, 'id_') ) {
                    // UPDATE REGISTRATION
                    // remove non-needed/allowed items.
                    delete _toSubmit.user;
                    delete _toSubmit.duration;
                    delete _toSubmit.created;
                    delete _toSubmit.updated;
                    delete _toSubmit.creator;
                    delete _toSubmit.updator;
                    delete _toSubmit.task;
                    delete _toSubmit.registration_type_full;
                    delete _toSubmit.duration_humanized;
                    // rename id_ to _id.
                    _toSubmit._id = _toSubmit.id_;
                    // NOTE: cruft (nulls) are removed in updateRegistration
                    //~ console.log("Submitting updateRegistration:", JSON.stringify(_toSubmit));
                    this.updateRegistration(_toSubmit)
                        .then((response) => {
                            let _start =  "<li>Start: <span class='notify-data-important'>" + this.objBuild.start + "</span></li>";
                            let _end =    this.objBuild.end ? "<li>End: <span class='notify-data-important'>" + this.objBuild.end + "</span></li>" : "";
                            let _task =   this.objBuild.task_id.label ? "<li>Task: <span class='notify-data-important'>" + this.objBuild.task_id.label + "</span></li>" : "";
                            let _type =   this.objBuild.registration_type.label ? "<li>Type: <span class='notify-data-important'>" + this.objBuild.registration_type.label + "</span></li>" : "";
                            let _ticket = this.objBuild.ticket_number ? "<li>Ticket#: <span class='notify-data-important'>" + this.objBuild.ticket_number + "</span></li>" : "";
                            // check for null or undefined
                            let msg = "<strong class='notify-data-header'>Registration Updated</strong><ul>"+_start+_end+_task+_type+_ticket+"</ul>";
                            this.$q.notify({
                                closeBtn: true,
                                message: msg,
                                caption: "<span class=''>" + response.msg ? response.msg : '' + "</span>",   // displays after message
                                color: 'green-2',
                                textColor: 'dark',
                                html: true,
                                position: 'top',
                                multiLine: true,
                                timeout: 13000,      // in milliseconds
                            })
                        })
                        .then((response) => {
                            // console.log("- Registration submitted...");
                            this.objBuild = {};
                        })
                        .then((response) => {
                            // close Add Registration form.
                            this.$emit('close')
                        })
                        .catch((error) => {
                            console.log('Error Adding Registration', error)
                        })
                } else {
                    // ADD REGISTRATION
                    //~ console.log("Submitting addRegistration:", JSON.stringify(_toSubmit));
                    this.addRegistration(_toSubmit)
                        .then((response) => {
                            console.log("Add response: " + response);
                            // if add has an End date we want to notify of info.
                            if (_toSubmit.end) {
                                this.$q.notify({
                                    closeBtn: true,
                                    message: "<strong class='notify-data-header'>Registration Added</strong><ul><li>Start: <span class='notify-data-important'>" + this.objBuild.start + "</span></li><li>End: <span class='notify-data-important'>" + this.objBuild.end + "</span></li><li>Task: <span class='notify-data-important'>" +this.objBuild.task_id.label + "</span></li><li>Type: <span class='notify-data-important'>" + this.objBuild.registration_type.label + "</span></li><li>Ticket#: <span class='notify-data-important'>" + this.objBuild.ticket_number + "</span></li></ul>",
                                    caption: "<span class=''>" + response.msg+ "</span>",   // displays after message
                                    color: 'green-2',
                                    textColor: 'dark',
                                    html: true,
                                    position: 'top',
                                    multiLine: true,
                                    timeout: 13000,      // in milliseconds
                                })
                            }
                        })
                        .then((response) => {
                            // console.log("- Registration submitted...");
                            this.objBuild = {};
                        })
                        .then((response) => {
                            // close Add Registration form.
                            this.$emit('close')
                        })
                        .catch((error) => {
                            //console.error('Error Adding Registration', error)
                            this.$q.notify({
                                closeBtn: true,
                                message: "Error Adding Registration - registration not saved!",
                                caption: "> " + error.response.data.detail,   // displays after message
                                color: 'warning',
                                textColor: 'dark',
                                html: true,
                                position: 'center',
                                multiLine: true,
                                timeout: 0,      // in milliseconds
                            })
                        })
                }
            },
            getRegistrationTypes(val) {
                //~ console.log("- getRegistrationTypes with val:", val);
                // clear current toSubmit.registration_type to ensure value is of current client list.
                //this.toSubmit.registration_type = "";
                this.objBuild.registration_type = "";
                this.fetchRegistrationTypeList({'client': val.client});
            },
        },
        created () {
          // CAREFUL; this is called each time you hit the 'page'
          //~ console.log("Created - task_list is", this.task_list);
          //~ console.log("Created - registration_type_list is", this.registration_type_list);
          //~ console.log("Created - active_registration is:", this.active_registration);
          if ( Object.keys(this.active_registration).length > 0 ) {
              // console.log("active_registration has data, using it");
              // if we have a registration type fetch registration type list so type can be prepopulated with value.
              if (this.active_registration.registration_type_full) {
                  let client_id = JSON.parse(JSON.stringify(this.active_registration.registration_type_full.client));
                  //~ console.log("Fetching registration type list for client_id=" + client_id);
                  this.fetchRegistrationTypeList({'client': client_id});
                  //~ console.log("Registration type list is now:", this.registration_type_list);
              }
              // create a clone of activity to work on (deep clone)
              this.objBuild = JSON.parse(JSON.stringify(this.active_registration));
              //~ console.log("objBuild is:", this.objBuild);
          }
        },
    }
</script>


<style lang="sass">
  .notify-data-important
    // background-color: #29DB20
    //text-decoration: underline #29CF2D
    text-decoration: underline #2F9629
    //text-decoration-color: #29DB20
    //text-decoration-line:
    font-weight: bold
  .notify-data-header
    font-weight: bolder
    font-size: large
  .notify-data-key
    font-weight: bold
    background-color: #29DB20
</style>
