{% extends 'admin/model/details.html' %}

<!--
    model: None
-->

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" type="text/css" media="print" />
    <!-- NOTICE: we pull the pygal-tooltips.min.js into our app context to avoid another js library url load -->
    <script src="{{ url_for('static', filename='js/pygal.js/2.0.x/pygal-tooltips.min.js') }}"></script>
{% endblock head %}


{% block body %}

    <div class="main">

        <h3>Hour Summary</h3>

        {% set timespan = request.args.get('timespan') if request.args.get('timespan') != None else 'week' %}

        <ul class="nav nav-tabs">
            <li class="{% if timespan == 'today' %}active{%endif%}">
                <a href="{{ url_for('hours_summary.index') }}?timespan=today">Today</a>
            </li>
            <li class="{% if timespan == 'week' %}active{%endif%}">
                <a href="{{ url_for('hours_summary.index') }}?timespan=week">Week</a>
            </li>
            <li class="{% if timespan == 'month' %}active{%endif%}">
                <a href="{{ url_for('hours_summary.index') }}?timespan=month">Month</a>
            </li>
            <li class="{% if timespan == 'year' %}active{%endif%}">
                <a href="{{ url_for('hours_summary.index') }}?timespan=year">Year</a>
            </li>
            <li class="{% if timespan == '1' %}active{%endif%}">
                <a href="{{ url_for('hours_summary.index') }}?timespan=1">1d</a>
            </li>
            <li class="{% if timespan == '7' %}active{%endif%}">
                <a href="{{ url_for('hours_summary.index') }}?timespan=7">7d</a>
            </li>
            <li class="{% if timespan == '30' %}active{%endif%}">
                <a href="{{ url_for('hours_summary.index') }}?timespan=30">30d</a>
            </li>
            <li class="{% if timespan == '364' %}active{%endif%}">
                <a href="{{ url_for('hours_summary.index') }}?timespan=364">364d</a>
            </li>
            <li class="{% if timespan == 'all' %}active{%endif%}">
                <a href="{{ url_for('hours_summary.index') }}?timespan=all">All</a>
            </li>
        </ul>

    </div>

    {{ chart.render().decode("utf-8")|safe }}

{% endblock body %}
