{% extends 'admin/model/modals/details.html' %}
{% block tail %}

<div class="main">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inventory/details.css') }}" type="text/css" />

    {{ super() }}

    <h4>Energy</h4>
        <ul>
        {% for i in model.energy %}
            <li>{{ i }}</li>
        {% endfor %}
        </ul>

    <h4>Links</h4>
        <ul>
        {% for i in model.links %}
            <li>{{ i }}</li>
        {% endfor %}
        </ul>

    <h4>Specs</h4>
        <ul>
        {% for i in model.specs %}
            <li>{{ i }}</li>
        {% endfor %}
        </ul>

    <h4>Statuses</h4>
        <ul>
        {% for i in model.statuses %}
            <li>{{ i }}</li>
        {% endfor %}
        </ul>

    {% if model.attachments %}
    <h4>Attachments</h4>
        <ul>
        {% for i in model.attachments %}
            <li><a href="/radiant/admin/get_file/{{ i.path }}" target="_blank" rel="noreferrer noopener">{{ i.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    <!-- Tags -->
    <div class="tags-section">
        {% for i in model.tags %}
            <span class="tag-button">{{ i }}</span>
        {% endfor %}
    </div>
</div>
{% endblock %}
