{% extends 'admin/model/modals/details.html' %}
{% block tail %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/inventory/details.css') }}" type="text/css" />

    {{ super() }}

    {% if model.attachments %}
    <h4>Attachments</h4>
        <ul>
        {% for i in model.attachments %}
            <li><a href="/radiant/admin/get_file/{{ i.path }}" target="_blank" rel="noreferrer noopener">{{ i.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}


{% endblock %}
