/*
 *  Styling for login page.
 */

#loginbox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px !important;
    width: 400px;
    border: 2px solid #BFBFBF;
    border-radius: 13px;
    padding: 7px 7px 0px 7px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px #888888;
}
.login-header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px !important;
    padding: 13px 0px 23px 0px;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.auth-server {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding: 0px 3px 13px 100px;
    color: #7F7F7F;
}
label {
    width: 100px;
    display: inline-block;
}
input {
    width: 225px;
    display: inline-block;
}
#submit {
    width: 100px;
}
.actions {
    padding: 13px 0px 0px 0px;
    display: block;
    padding-left: 100px;
}
.flashes {
    background: yellow;
    font-weight: bolder;
    font-size: 13px;
    line-height: 33px;
}
.flashes li.info {
    list-style-type: none;
    text-align: center;
    align: center;
}
