/*
 * PRINT CSS
 */

@page {
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
}

.nav-tabs {
    display: none;
}

.navbar {
    display: none;
}

.internal-bar {
    display: none;
}

tr.invoice-registration-data > td {
    line-height: 10px;
}

.invoice-registration-data {
    font-size: 10px;
    line-height: 3em;
    height: 10px;
}
