{% extends 'admin/model/modals/details.html' %}

{% block head_css %}

{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/ticketing/details.css') }}" type="text/css" />

    <!-- Project -->
    <table class="project-table">
        <tr>
            <td class="actor-head inline-tooltip full-width">
                <div title="Title">{{ model.title }}</div>
            </td>
            <td class="actor-data inline-tooltip">
                <div title="Id">{{ model.project }}-{{ model.tid|format_tid }}</div>
            </td>
        </tr>
    </table>

    <!-- Status -->
    <table class="creator-table">
        <tr>
            <td class="actor-data inline-tooltip full-width">
                <div title="Project&#013;Nickname: {{ model.project }}&#013;Client: {{ model.project.client.name }}">{{ model.project.name }}</div>
            </td>
            <td class="actor-data inline-tooltip no-wrap" data-html="true">
                <span title="Status">{{ model.status }}</span>/<span title="Priority">{{ model.priority }}</span>
            </td>
        </tr>
    </table>

    <!-- Contents -->
    <table class="contents-table">
        <tr>
            <td class="actor-data full-width">
                <div>{{ model.content|markdown }}</div>
            </td>
            <td class="actor-top-data inline-tooltip no-wrap" data-html="true">
                <span title="Assigned: {{ model.assigned_at|datetime }}&#013;Creator: {{ model.creator }} ({{ model.created_at }})&#013;Updator: {{ model.updator }} ({{ model.updated_at }})">{{ model.assignor }}</span>
            </td>
        </tr>
    </table>


{% endblock %}


{% block tail %}

    {{ super() }}

    {% if model.attachments %}
    <h4>Attachments</h4>
        <ul>
        {% for i in model.attachments %}
            <li><a href="/radiant/admin/get_file/{{ i.path }}" target="_blank" rel="noreferrer noopener">{{ i.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if model.comments %}
        <h4>Comments</h4>
        <table class="comments-table">
            {% for i in model.comments %}
            <tr class="comments-row">
                <td class="full-width">{{ i }}</td>
                <td class="inline-tooltip no-wrap">
                    <div title="{{ i.creator }}">{{ i.created_at|datetime }}</div>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <!-- Tags -->
    <div class="tags-section">
        {% for i in model.tags %}
            <span class="tag-button">{{ i }}</span>
        {% endfor %}
    </div>

{% endblock %}
