{% extends 'admin/model/details.html' %}

<!--
    model: Invoice
-->
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" type="text/css" media="print" />
{% endblock head %}


{% block body %}
    {% set dmode = request.args.get('dmode') if request.args.get('dmode') != None else model.invoice_format %}
<div class="main">
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ url_for('invoices.index_view') }}">List</a>
        </li>
        <li>
            <a href="{{ url_for('invoices.edit_view') }}?id={{ model.id }}&url={{ url_for('invoices.edit_view') }}">Edit</a>
        </li>
        <li class="active">
            <a href="javascript:void(0)">Details</a>
        </li>
    </ul>

    <div class="internal-bar">
        <table>
            <tr>
                <th style="width: 120px;">Id</th>
                <td>{{ model.id }}</td>
                <th style="width: 120px;">Name</th>
                <td>{{ model.name }}</td>
                <th>Client</th>
                <td>{{ model.client.name }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td> {{ dmode }}</td> <!-- summary/detail -->
                <th>Int Note</th>
                <td colspan="3" class="internal_note">{{ model.note_internal|markdown }}</td>
            </tr>
            <tr>
                <td colspan="6" class="internal-bar-actions">
                    <table class="internal-menu">
                        <tr>
                            <td>
                                {% if dmode == 'detail' %}
                                    <a href="{{ '?id=' + request.args['id'] + '&url=' + request.args['url'] + '&dmode=summary' }}" title="Change to 'Summary' view"><img id="buildImage" src="{{ url_for('static', filename='img/detail-view.png') }}" height="24px" width="24px" /></a>
                                {% else %}
                                    <a href="{{ '?id=' + request.args['id'] + '&url=' + request.args['url'] + '&dmode=detail' }}" title="Change to 'Detail' view"><img id="buildImage" src="{{ url_for('static', filename='img/summary-view.png') }}" height="24px" width="24px" /></a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="" onclick="if (confirm('Print page?')){window.print();} else {event.stopPropagation(); event.preventDefault();};" title="Print page..."><img id="buildImage" src="{{ url_for('static', filename='img/print.png') }}" height="24px" width="24px" /></a>
                            </td>
                            <td>
                                {% if model.status|lower == 'create' %}
                                    <a href="{{ url_for('invoices.mark_submit', pk=model.id) }}" title="Mark Invoice as Submitted to Client"><img id="buildImage" src="{{ url_for('static', filename='img/submit.png') }}" height="24px" width="24px" /></a>
                                {% elif model.status|lower == 'submitted' %}
                                    <a href="{{ url_for('invoices.mark_paid', pk=model.id) }}" title="Mark Invoice as Paid"><img id="buildImage" src="{{ url_for('static', filename='img/paid-stamp.png') }}" height="24px" width="24px" /></a>
                                {% elif model.status|lower == 'paid' %}
                                    <a href="{{ url_for('invoices.mark_deposited', pk=model.id) }}" title="Mark Invoice as Deposited"><img id="buildImage" src="{{ url_for('static', filename='img/bank.png') }}" height="24px" width="24px" /></a>
                                {% elif model.status|lower == 'deposited' %}
                                    <img id="buildImage" src="{{ url_for('static', filename='img/bank_account.png') }}" height="24px" width="24px" title="Invoice is Deposited" />
                                {% else %}
                                    {{ model.status|lower }}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="invoice-wrapper">
        <div class="invoice-header">
            <table class="invoice-header">
                <tr>
                    <td class="invoice-header-company">adercon</td>
                    <td class="invoice-header-label">Invoice</td>
                </tr>
            </table>
        </div>

        <table style="width: 100%;">
            <tr>
                <td class="client-address">
                    2 Wedgewood Rd<br/>
                    Natick, MA 01760<br/>
                    505-228-4752 | drader@adercon.com | adercon.com
                </td>
                <td class="invoice-info">
                    <table>
                        <tr>
                            <th>Submitted</th>
                            <td><span title="{{ model.submitted|datetime('arrow-humanize') }}">{{ model.submitted|datetime('date-only') }}</span></td>
                        </tr>
                        <tr>
                            <th>Due</th>
                            <td><span title="{{ model.due|datetime('arrow-humanize') }}">{{ model.due|datetime('date-only') }}</span> (Net 30)</td>
                        </tr>
                        <tr>
                            <th>Invoice #</th>
                            <td style="">{{ model.invoice_number }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <h5>Bill To</h5>
        <table>
            <tr>
                <td>{{ model.client.name}}</td>
                <td></td>
            </tr>
        </table>

        <h5>Registrations</h5>
        <table class="table table-hover table-bordered">
            <tr>
                {% if dmode == 'detail' %}
                <th>Task</th>
                <th>Note</th>
                <th>Start</th>
                <th>End</th>
                {% else %}
                <th colspan="4" style="width: 75%;">Task</th>
                {% endif %}
                <th>Length</th>
                <th>Rate</th>
                <th>Cost</th>
            </tr>

        {% set subtotal_cost = [0] %}
        {% if dmode == 'detail' %}
            {% for item in model.invoice_items %}
                {% set _ = subtotal_cost.append(subtotal_cost.pop() + item|registration_cost) %}
                <tr class="invoice-registration-data">
                    <td>{{ item.task }}</td>
                    <td>{{ item.note }}</td>
                    <td>{{ item.start|datetime }}</td>
                    <td>{{ item.end|datetime }}</td>
                    <td><span title="length (in minutes) rounded to 3 decimals for display">{{ item.length|registration_length }}</span></td>
                    <td><span title="hourly rate for project">{{ item.task.project.rate }}</span></td>
                    <td class="invoice-cost-col">{{ item|registration_cost(formatted=True) }}</td>
                </tr>
            {% endfor %}
        {% else %}
            {% for item in model.invoice_items_condensed() %}
                {% set _ = subtotal_cost.append(subtotal_cost.pop() + item|registration_cost) %}
                <tr>
                    <td colspan="4">{{ item.task }}</td>
                    <td><span title="length (in minutes) rounded to 3 decimals for display">{{ item.length|registration_length }}</span></td>
                    <td><span title="hourly rate for project">{{ item.task.project.rate }}</span></td>
                    <td class="invoice-cost-col">{{ item|registration_cost(formatted=True) }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% set total_cost = subtotal_cost[0] - model.discount_amount|float %}
        {% set total_due = total_cost %}
            <tr>
                <th colspan="4" style="border-bottom: none !important;"></th>
                <td colspan="2" class="invoice-summary-subhead">Subtotal</td>
                <td class="invoice-cost-col">{{ subtotal_cost[0]|currency }}</td>
            </tr>
            <tr>
                <th colspan="4" style="border-top: none !important;">Notes</th>
                <td colspan="2" class="invoice-summary-subhead" style="border-top: none !important;"></td>
                <td class="invoice-cost-col"></td>
            </tr>
            <tr>
                <td colspan="4" rowspan="5" style="border-right: 1px solid #ddd !important;">
                    {% if model.note %}
                        {{ model.note|markdown }}
                    {% endif %}
                </td>
                <td colspan="2" class="invoice-summary-subhead" style="border-top: none !important;">Discount</td>
                <td class="invoice-cost-col">{{ model.discount_amount|currency }}</td>
            </tr>
            <tr>
                <td colspan="2" class="invoice-summary-subhead-important" style="border-top: none !important;">Total</td>
                <td class="invoice-cost-col">{{ total_cost|currency }}</td>
            </tr>
            <tr>
                <td colspan="2" class="invoice-summary-subhead-important" style="border-top: none !important;">Paid</td>
                <td class="invoice-cost-col">$0.00</td>
            </tr>
            <tr>
                <td colspan="2" class="invoice-summary-subhead-important" style="border-top: none !important;">Total Due</td>
                <td class="invoice-cost-col" style="font-weight: bold;">{{ total_due|currency }}</td>
            </tr>
        </table>
        <table class="invoice-footer">
            <tr>
                <td>
                    Thank you for your business!<br/>
                    Please send payment within 30 days unless otherwise noted.<br/>
                    Make checks payable to "Adercon Inc."
                </td>
            </tr>
        </table>
    </div>

</div>
{% endblock body %}

